@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

/********** Template CSS **********/
:root {
    --primary: #2124B1;
    --secondary: #4777F5;
    --light: #F7FAFF;
    --dark: #1D1D27;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Heading ***/
h1,
h2,
h3,
.fw-bold {
    font-weight: 700 !important;
}

h4,
h5,
h6,
.fw-medium {
    font-weight: 500 !important;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    color: var(--light) !important;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--secondary) !important;
}

.navbar-light .navbar-brand h1 {
    color: #FFFFFF;
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--dark) !important;
    }

    .navbar-light .navbar-brand h1 {
        color: var(--primary);
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: #FFFFFF;
    }

    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--secondary);
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }

    .sticky-top.navbar-light .navbar-brand h1 {
        color: var(--primary);
    }
}


/*** Hero Header ***/
.hero-header {
    background:
        url(../img/bg-dot.png),
        url(../img/bg-dot.png),
        url(../img/bg-round.png);
    background-position:
        10px 10px,
        bottom 190px right 10px,
        left 55% top -1px,
        left 45% bottom -1px,
        center bottom -1px;
    background-repeat: no-repeat;
}

.showbox{
    /* border-radius: 10px; */
    box-shadow: 2px 2px 10px #777777;
}

/*** Section Title ***/
.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 4px;
    bottom: 0;
    left: 0;
    background: var(--dark);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    bottom: 0;
    left: 50px;
    background: var(--dark);
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -25px;
}

.section-title.text-center::after {
    left: 50%;
    margin-left: 25px;
}

.section-title h6::before,
.section-title h6::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: 2px;
    left: 0;
    background: rgba(33, 66, 177, .5);
}

.section-title h6::after {
    top: 5px;
    left: 3px;
}

.resume-title{
    color: #2124B1;
}

/*** Service ***/
.service-item {
    position: relative;
    height: 400px;
    padding: 30px 25px;
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.service-item:hover {
    box-shadow: 0 0 45px rgba(0, 0, 0, .3);
    /* background: var(--primary); */
}

.service-item .service-icon {
    margin: 0 auto 20px auto;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    background: url(../img/icon-shape-primary.png) center center no-repeat;
    transition: .5s;
}

/* .service-item:hover .service-icon {
    color: var(--primary);
    background: url(../img/icon-shape-white.png);
} */

.service-item h5{
    color: var(--dark);
}

.company-logo {
    display: block;
    border:  1px solid grey;
    border-radius: 20%;
    width: 50px;
    height: 50px;
}

/* .service-item img{
    
} */

.verified{
    width: 80px;
    height: 32px;
}

.pending{
    width: 30px;
    height: 30px;
}

.service-item p {
    transition: .5s;
}

.service-item ul{
    height: 10rem;
    font-size: small;
    color: var(--dark);
    padding-left: 1.2rem;
    overflow: hidden;
}

/* .service-item:hover h5,
.service-item:hover p {
    color: var(--light);
} */

.service-item a.btn {
    position: relative;
    display: flex;
    color: var(--primary);
    transition: .5s;
    z-index: 1;
}

.talents a.btn {
    position: relative;
    display: flex;
    color: darkgray;
    transition: .5s;
    z-index: 1;
}

.talents:hover a.btn {
    color: white;;
    /* color: var(--light); */
}

.talents a.btn::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    top: 0;
    left: 0;
    border-radius: 35px;
    background: #DDDDDD;
    transition: .5s;
    z-index: -1;
}

.talents:hover a.btn::before {
    width: 100%;
    background: var(--primary);
}


.service-item:hover a.btn {
    color: var(--light);
}

.service-item a.btn::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    top: 0;
    left: 0;
    border-radius: 35px;
    background: #DDDDDD;
    transition: .5s;
    z-index: -1;
}

.service-item:hover a.btn::before {
    width: 100%;
    background: var(--primary);
}

/*** Testimonial ***/
.newsletter,
.testimonial {
    background:
        url(../img/bg-top.png),
        url(../img/bg-bottom.png);
    background-position:
        left top,
        right bottom;
    background-repeat: no-repeat;
}

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--light) !important;
    border-color: var(--light);
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #888888;
}

.testimonial-carousel .owl-item.center .testimonial-item i {
    color: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item h6 {
    color: var(--dark) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item .btn:hover {
    color: white !important;
}

/*** Team ***/
.team-item {
    position: relative;
    transition: .5s;
    z-index: 1;
}

.team-item::after {
    position: absolute;
    content: "";
    top: 3rem;
    right: 3rem;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .1);
    transition: .5s;
    z-index: -1;
}

.team-item:hover::after {
    background: var(--primary);
}

.team-item h5,
.team-item small {
    transition: .5s;
}

.team-item:hover h5,
.team-item:hover small {
    color: var(--light);
}


/*** Project Portfolio ***/
#portfolio-flters .btn {
    position: relative;
    display: inline-block;
    margin: 10px 4px 0 4px;
    transition: .5s;
}

#portfolio-flters .btn::after {
    position: absolute;
    content: "";
    right: -1px;
    bottom: -1px;
    border-left: 20px solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 50px solid #FFFFFF;
}

#portfolio-flters .btn:hover,
#portfolio-flters .btn.active {
    color: var(--light);
    background: var(--primary);
}

.portfolio-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 30px;
    top: 0;
    left: 0;
    background: var(--primary);
    transition: .5s;
    z-index: 1;
    opacity: 0;
}

.portfolio-item:hover .portfolio-overlay {
    opacity: 1;
}

.portfolio-item .btn {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/icon-shape-white.png) center center no-repeat;
    border: none;
    transition: .5s;
    opacity: 0;
    z-index: 2;
}

.portfolio-item:hover .btn {
    opacity: 1;
    transition-delay: .15s;
}


/*** Footer ***/
.footer {
    background: url(../img/footer.png) center center no-repeat;
    background-size: contain;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(256, 256, 256, .1);
    border-radius: 40px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: var(--light);
    font-weight: normal;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 14px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}


ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #2124B1;
    background-color: #2124B1;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid gray;
}

body.ui-slider-active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  
  .box {
    --primary: #275efe;
    --headline: #3f4656;
    --text: #99a3ba;
    width: 100%;
    max-width: 312px;
    padding: 0px 32px 48px 32px;
  }
  .box h3 {
    font-family: inherit;
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 20px 0;
    color: var(--headline);
  }
  .box h3 span {
    font-weight: 500;
  }
  .box .values div,
  .box small div {
    display: inline-block;
    vertical-align: top;
  }
  .box .values {
    margin: 0;
    font-weight: 500;
    color: var(--primary);
  }
  .box .values > div:first-child {
    margin-right: 2px;
  }
  .box .values > div:last-child {
    margin-left: 2px;
  }
  .box small {
    color: var(--text);
    display: block;
    margin-top: 8px;
    font-size: 14px;
  }
  .box .slider {
    margin-top: 10px;
  }
  
  .slider {
    --primary: #275efe;
    --handle: #fff;
    --handle-active: #becfff;
    --handle-hover: #e9efff;
    --handle-border: 2px solid var(--primary);
    --line: #cdd9ed;
    --line-active: var(--primary);
    height: 23px;
    width: 100%;
    position: relative;
    pointer-events: none;
  }
  .slider .ui-slider-handle {
    --y: 0;
    --background: var(--handle);
    cursor: -webkit-grab;
    cursor: grab;
    -webkit-tap-highlight-color: transparent;
    top: 0;
    width: 23px;
    height: 23px;
    transform: translateX(-50%);
    position: absolute;
    outline: none;
    display: block;
    pointer-events: auto;
  }
  .slider .ui-slider-handle div {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    transition: background 0.4s ease;
    transform: translateY(calc(var(--y) * 1px));
    border: var(--handle-border);
    background: var(--background);
  }
  .slider .ui-slider-handle:hover {
    --background: var(--handle-hover);
  }
  .slider .ui-slider-handle:active {
    --background: var(--handle-active);
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  .slider svg {
    --stroke: var(--line);
    display: block;
    height: 83px;
  }
  .slider svg path {
    fill: none;
    stroke: var(--stroke);
    stroke-width: 1;
  }
  .slider .active, .slider > svg {
    position: absolute;
    top: -30px;
    height: 83px;
  }
  .slider > svg {
    left: 0;
    width: 100%;
  }
  .slider .active {
    position: absolute;
    overflow: hidden;
    left: calc(var(--l) * 1px);
    right: calc(var(--r) * 1px);
  }
  .slider .active svg {
    --stroke: var(--line-active);
    position: relative;
    left: calc(var(--l) * -1px);
    right: calc(var(--r) * -1px);
  }
  .slider .active svg path {
    stroke-width: 2;
  }
  
  html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  
  * {
    box-sizing: inherit;
  }
  *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", Arial;
    background: #cdd9ed;
  }
  body .dribbble {
    position: fixed;
    display: block;
    right: 20px;
    bottom: 20px;
  }
  body .dribbble img {
    display: block;
    height: 28px;
  }


  .accordion-head i{
    font-size: 3em;
    float: right;
}

.accordion-head > .collapsed > i:before{
    content: "\f105";
}