{% extends "base.html" %}
{% load static %}
{% load filter_tags %}
{% block title %}<title>User Profile</title>{% endblock %}
{% block content %}
<div class="container">
    <div class="company">
        <div ng-app="tabApp">
            <div class="row" ng-controller="TabController">
                <div class="col-md-1 splitLine mt-3" style="height: 700px; width: 12.499999995%">
                    <div class="mt-n2 wow fadeInUp" data-wow-delay="0.1s">
                      <div class="mb-5 nav nav-pills nav-stacked row" style="padding-top: 5%;">

                        <div class="companyBtn" ng-class="{ active: isSet(1) }">
                            <a class="btn" href="/forkliftServices" > 
                                <i class="mt-1 me-3 fa-solid fa-life-ring"></i>Forklifting</a>
                        </div>

                        <div class="w-100"></div>
                        <div class="companyBtn" ng-class="{ active: isSet(2) }">
                            <a class="btn" ng-click="setTab(2)" href="/railingRequest"> 
                                <i class="mt-1 me-3 fa-solid fa-sailboat"></i> Railing</a>
                        </div>

                        <div class="w-100"></div>
                        <div class="companyBtn" ng-class="{ active: isSet(3) }">
                            <a class="btn" ng-click="setTab(3)" href="/stuffingRequest">
                                <i class="mt-1 me-3 fa-solid fa-box"></i> Stuffing</a>
                        </div>
                        <div class="companyBtn" ng-class="{ active: isSet(3) }">
                            <a class="btn" ng-click="setTab(3)" href="/truckingRequest"> 
                                <i class="mt-1 me-3 fa-solid fa-truck-moving"></i> Trucking</a>
                        </div>
                        <div class="companyBtn" ng-class="{ active: isSet(3) }">
                            <a class="btn" ng-click="setTab(3)" style="color: var(--light); 
                            background: var(--primary);" href="/documentation"> 
                                <i class="mt-1 me-3 fa-solid fa-file-import"></i> Permits</a>
                        </div>
                        <div class="companyBtn" ng-class="{ active: isSet(3) }">
                            <a class="btn" ng-click="setTab(3)" href="https://www.singaporepsa.com/" > 
                                <i class="mt-1 me-3 fa-solid fa-comment-dots"></i> Feedback</a>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-10" style="padding-left: 50px; padding-top: 10px; width: 87.49999965%;">
                <div class="row g-5">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="width: 40%; padding-left: 5%;">
                        <p class="d-inline-block border rounded-pill py-1 px-4">Permit Document</p>
                        <p class="mb-4">Make use of decentralised technology to get trustworthy prove and detect scams!</p>
                        <img class="img-fluid mt-0 " src="{% static 'img/portwallpaper.jpeg' %}">
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s" style="width: 60%;">
                        <section id="faq" class="faq">
                            <div class="container" data-aos="fade-up">
                      
                              <div class="section-header">
                                
                                <h1 class="mb-1">Permit Documentation Services</h1>
                                <p>Apply for permit</p>
                      
                              </div>
                      
                              <div class="row justify-content-left" data-aos="fade-up" data-aos-delay="200">
                                <div class="col-lg-12">
                      
                                  <div class="accordion accordion-flush" id="faqlist">

                                    <div class="accordion-item">
                                      <h3 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                                        <i class="fa-regular fa-file" style="padding-right: 20px;  color:#001973;"></i> Combined PSA Temporary Pass/Temporary Vehicle Permit Application
                                        </button>
                                      </h3>
                                      <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                        <div class="accordion-body">
                                          <a href="https://www.singaporepsa.com/-/media/Feature/PDF/Port-Users/PSAtempPassForm.pdf?la=en&hash=3E92F1B0985D2D6BE956C7884BA5E15819B30FA6" download>Download form</a>
                                        </div>
                                      </div>
                                    </div><!-- # Faq item-->
                      
                                    <div class="accordion-item">
                                      <h3 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                                         <i class="fa-regular fa-file" style="padding-right: 20px;  color:#001973;"></i> 
                                        Temporary Pass Sponsor Letter Template 
                                        </button>
                                      </h3>
                                      <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                        <div class="accordion-body">
                                          <a href="https://www.singaporepsa.com/-/media/Feature/PDF/Port-Users/TP-Sponsor-Letter-Template.pdf" download>Download form</a>
                                        </div>
                                      </div>
                                    </div><!-- # Faq item-->
                      
                                    <div class="accordion-item">
                                      <h3 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                                         <i class="fa-regular fa-file" style="padding-right: 20px;  color:#001973;"></i> 
                                         PSA Pass Application & Renewal Form
                                        </button>
                                      </h3>
                                      <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                        <div class="accordion-body">
                                          <a href="https://www.singaporepsa.com/-/media/Feature/PDF/Port-Users/PSApassRenewalForm.pdf?la=en&hash=497891C866A038EDCA58090EDFA33C0BCA8A49E5" download>Download form</a>
                                        </div>
                                      </div>
                                    </div><!-- # Faq item-->
                      
                                    <div class="accordion-item">
                                      <h3 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                                         <i class="fa-regular fa-file" style="padding-right: 20px;  color:#001973;"></i> 
                                         PSA Car Entry Permit (“PSA CEP”) (Type D / E / F) / PSA Commercial Vehicle Entry Permit (“PSA CVEP”)
                                        </button>
                                      </h3>
                                      <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                        <div class="accordion-body">
                                          <a href="https://www.singaporepsa.com/-/media/Feature/PDF/Port-Users/application_renewal_form_for_CEP.pdf?la=en&hash=0D230E3C12EB910962A28DA0FA01FFE2092C1110" download>Download form</a>                                     
                                        </div>
                                    </div><!-- # Faq item-->
                      
                                  </div>
                      
                                </div>
                              </div>
                      
                            </div>
                          </section><!-- End Frequently Asked Questions Section -->
                      
                    </div>



                </div>

                <div class="col-lg-6 wow row justify-content-center fadeInUp" data-wow-delay="0.5s" style="width: 80%; margin: 10px auto;">
                
                  <div class="section-header" style="margin: top 10%;">
                    <span>Submit Form for Approval</span>
                    <h2>Submit Form for Approval</h2>
                  </div>
                  <div class="col-md-12">
                    <div class="form-floating input-group">
                        <input id="permitinput" class="form-control" type="file" id="permit" multiple />
                        <label for="permit" class="form-label">Upload Form</label>
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="handleSubmit()">Submit</button>
                    </div>
                  </div>


                </div>

                </div>

            </div>
        </div>
    </div>
</div>
<style type="text/css">
.companyBtn .btn::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    top: 0;
    left: 0;
    border-radius: 35px;
    background: transparent;
    transition: .5s;
    z-index: -1;
}

.faq {
  padding-top: 0px;
}

.faq .accordion-item {
  border: 0;
  margin-bottom: 10px;
}

.faq .accordion-collapse {
  border: 0;
}

.faq .accordion-button {
  padding: 18px 30px 20px 20px;
  font-weight: 400;
  border: 0;
  font-size: 16px;
  color: var(--color-default);
  text-align: left;
  background: rgba(14, 29, 52, 0.03);
  border-radius: 5px;
}

.faq .accordion-button:focus {
  box-shadow: none;
}

.faq .accordion-button:not(.collapsed) {
  color: var(--color-primary);
  border-bottom: 0;
  box-shadow: none;
}

.faq .question-icon {
  position: absolute;
  top: 14px;
  left: 25px;
  font-size: 20px;
  color: var(--color-primary);
}

.faq .accordion-button:after {
  position: absolute;
  right: 15px;
  top: 15px;
}

.faq .accordion-body {
  padding: 0 30px 25px 30px;
  border: 0;
  background: rgba(14, 29, 52, 0.03);
  border-radius: 5px;
}

.section-header {
  text-align: center;
  padding: 20px 0;
  position: relative;
}

.section-header h2 {
    margin-top: 30px;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #001973;
  position: relative;
  z-index: 2;   
  position: relative;
}

.section-header h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--color-primary);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.section-header span {
  position: absolute;
  top: 46px;
  color: rgba(14, 29, 52, 0.06);
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 56px;
  text-transform: uppercase;
  line-height: 0;
}

.section-header p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

</style>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
    console.log("testing");
    
    $(document).ready(function(){
		var date_input=$('input[name="date"]'); //our date input has the name "date"
		var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
		date_input.datepicker({
			format: 'mm/dd/yyyy',
			container: container,
			todayHighlight: true,
			autoclose: true,
		});
	})
</script>

<style>
  .btn-outline-light:hover {
    background-color: transparent !important;
  }
</style>
<script>
  var element = document.getElementById("serviceNavItem");
  element.classList.add("btn-outline-light");

  function handleSubmit() {
    if( document.getElementById("permitinput").files.length == 0 ){
      $.notify('Please upload a completed form', "danger");   
    } else {
      $.notify('Form uploaded! Please wait while your request is processed.', "success"); 
    }
}
</script>
<script>
  for (let element of document.getElementsByClassName("navhide")){
    element.style.visibility="";
  }
</script>
{% endblock %}