{% extends "base.html" %} {% load static %} {% block title %}<title>
  User Profile</title
>{% endblock %} {% block content %}
<div class="container">
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">...</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="company">
    <div ng-app="tabApp">
      <div class="row" ng-controller="TabController">
        <div
          class="col-md-1 splitLine mt-3"
          style="height: 600px; width: 12.499999995%"
        >
          <div class="mt-n2 wow fadeInUp" data-wow-delay="0.1s">
            <div class="mb-5 nav nav-pills nav-stacked row">
              <div class="companyBtn" ng-class="{ active: isSet(1) }">
                <a class="btn" ng-click="setTab(1)">
                  <i class="mt-1 me-3 fa fa-address-book"></i> Buy</a
                >
              </div>

              <div class="w-100"></div>

              <div class="companyBtn" ng-class="{ active: isSet(2) }">
                <a class="btn" ng-click="setTab(2)">
                  <i class="mt-1 me-3 fa fa-search"></i> Sell</a
                >
              </div>

              <div class="w-100"></div>
              <div class="companyBtn" ng-class="{ active: isSet(3) }">
                <a class="btn notification notify" ng-click="setTab(3)">
                  <i class="mt-1 me-3 fa fa-bell"></i> Status</a
                >
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-md-10"
          style="padding-left: 50px; padding-top: 10px; width: 87.49999965%"
        >
          <div class="jumbotron">
            <div ng-show="isSet(1)">
              <div class="wow fadeInUp" data-wow-delay="0.3s">
                <section class="resume-section" id="experience">
                  <div class="resume-section-content">
                    <h1>Buy Cargo Space</h1>
                  </div>
                </section>
                <section>
                  <div class="container">
                    <div class="row bg-primary p-2 rounded align-items-center" style = "justify-content: center ">
                      <div class="col-sm-1">
                        <i class="mt-1 me-3 fa fa-search" style="font-size: 2em; color: white;"></i>
                      </div>
                      <div class="col-sm-2">
                        <div class="input-group input-group-sm">
                          <input type="text" id="myDateFilter" class="form-control" onkeyup="DateFilter()" placeholder="Date">
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="input-group input-group-sm">
                          <input type="text" id="myTimeFilter" class="form-control" onkeyup="TimeFilter()" placeholder="Time">
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="input-group input-group-sm">
                          <input type="text" id="myDestinationFilter" class="form-control" onkeyup="DestinationFilter()" placeholder="Destination">
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="input-group input-group-sm">
                          <input min="0" type="number" id="MinVolFilter" class="form-control" onkeyup="VolumeFilter()" placeholder="Min Volume">
                          <input type="number" id="MaxVolFilter" class="form-control" onkeyup="VolumeFilter()" placeholder="Max Volume">
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="input-group input-group-sm">
                          <input min="0" type="number" id="MinWeightFilter" class="form-control" onkeyup="WeightFilter()" placeholder="Min Weight">
                          <input type="number" id="MaxWeightFilter" class="form-control" onkeyup="WeightFilter()" placeholder="Max Weight">
                        </div>
                      </div>
                    </div>
                    <div class="row" id="myItems">
                      <div class="col-sm-12 mb-3">
                        <div class="mx-auto card flex-row" style="width: 800px;">
                          <div class="col-md-4 border-end">
                            <img
                              src="{% static 'img/demi.svg'%}"}"
                              class="img-fluid rounded-start"
                              style="object-fit: fill; width: 200px;"
                              alt="..."
                              data-bs-toggle="modal"
                              data-bs-target="#exampleModal"
                            />
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <div class="d-flex bd-highlight">
                                <h5 class="card-title" style="margin-right: 141px">
                                  Date
                                </h5>
                                <p class="card-text" >bye</p>
                              </div>
                              <div class="d-flex bd-highlight">
                                <h5
                                  class="card-title"
                                  style="margin-right: 136.5px"
                                >
                                  Time
                                </h5>
                                <p class="card-text" >9am</p>
                              </div>
                              <div class="d-flex bd-highlight">
                                <h5 class="card-title" style="margin-right: 80px">
                                  Destination
                                </h5>
                                <p class="card-text">hi</p>
                              </div>
                              <div class="d-flex bd-highlight">
                                <h5 class="card-title" style="margin-right: 30px">
                                  Available volume
                                </h5>
                                <p class="card-text">1000</p>
                              </div>
                              <div class="d-flex bd-highlight border-bottom">
                                <h5 class="card-title" style="margin-right: 36px">
                                  Available weight
                                </h5>
                                <p class="card-text">hi</p>
                              </div>
                              <div class="d-flex bd-highlight">
                                <div class="input-group mb-3 mt-3 me-3">
                                  <span class="input-group-text"
                                    >Required Weight</span
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    aria-label="Amount (to the nearest kilogram)"
                                  />
                                  <span class="input-group-text">kg</span>
                                </div>
                                <div class="input-group mb-3 mt-3">
                                  <span class="input-group-text"
                                    >Required volume</span
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    aria-label="Amount (to the nearest kilogram)"
                                  />
                                  <span class="input-group-text"
                                    >m<sup>3</sup></span
                                  >
                                </div>
                              </div>
                              <div class="d-flex flex-row-reverse bd-highlight">
                                <div class="d-flex flex-column bd-highlight">
                                  <a class="btn btn-primary" href=""
                                    >Request Space</a
                                  >
                                  <p class="card-text">
                                    <small class="text-muted"
                                      >Last updated 3 mins ago</small
                                    >
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                  
                        <div class="mx-auto card flex-row" style="width: 800px;">
                          <div class="col-md-4 border-end">
                            <img
                              src="{% static 'img/m2_aga_20-ft_box.svg'%}"}"
                              class="img-fluid rounded-start"
                              style="object-fit: fill; width: 200px;"
                              alt="..."
                              data-bs-toggle="modal"
                              data-bs-target="#exampleModal"
                            />
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <div class="d-flex bd-highlight">
                                <h5 class="card-title" style="margin-right: 141px">
                                  Date
                                </h5>
                                <p class="card-text" >bye</p>
                              </div>
                              <div class="d-flex bd-highlight">
                                <h5
                                  class="card-title"
                                  style="margin-right: 136.5px"
                                >
                                  Time
                                </h5>
                                <p class="card-text" >9am</p>
                              </div>
                              <div class="d-flex bd-highlight">
                                <h5 class="card-title" style="margin-right: 80px">
                                  Destination
                                </h5>
                                <p class="card-text">hi</p>
                              </div>
                              <div class="d-flex bd-highlight">
                                <h5 class="card-title" style="margin-right: 30px">
                                  Available volume
                                </h5>
                                <p class="card-text">hi</p>
                              </div>
                              <div class="d-flex bd-highlight border-bottom">
                                <h5 class="card-title" style="margin-right: 36px">
                                  Available weight
                                </h5>
                                <p class="card-text">hi</p>
                              </div>
                              <div class="d-flex bd-highlight">
                                <div class="input-group mb-3 mt-3 me-3">
                                  <span class="input-group-text"
                                    >Required Weight</span
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    aria-label="Amount (to the nearest kilogram)"
                                  />
                                  <span class="input-group-text">kg</span>
                                </div>
                                <div class="input-group mb-3 mt-3">
                                  <span class="input-group-text"
                                    >Required volume</span
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    aria-label="Amount (to the nearest kilogram)"
                                  />
                                  <span class="input-group-text"
                                    >m<sup>3</sup></span
                                  >
                                </div>
                              </div>
                              <div class="d-flex flex-row-reverse bd-highlight">
                                <div class="d-flex flex-column bd-highlight">
                                  <a class="btn btn-primary" href=""
                                    >Request Space</a
                                  >
                                  <p class="card-text">
                                    <small class="text-muted"
                                      >Last updated 3 mins ago</small
                                    >
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                  
                        <div class="mx-auto card flex-row" style="width: 800px;">
                          <div class="col-md-4 border-end">
                            <img
                              src="{% static 'img/ld11.svg'%}"}"
                              class="img-fluid rounded-start"
                              style="object-fit: fill; width: 200px;"
                              alt="..."
                              data-bs-toggle="modal"
                              data-bs-target="#exampleModal"
                            />
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <div class="d-flex bd-highlight">
                                <h5 class="card-title" style="margin-right: 141px">
                                  Date
                                </h5>
                                <p class="card-text">20/09/2020</p>
                              </div>
                              <div class="d-flex bd-highlight">
                                <h5
                                  class="card-title"
                                  style="margin-right: 136.5px"
                                >
                                  Time
                                </h5>
                                <p class="card-text">9am</p>
                              </div>
                              <div class="d-flex bd-highlight">
                                <h5 class="card-title" style="margin-right: 80px">
                                  Destination
                                </h5>
                                <p class="card-text">Shanghai</p>
                              </div>
                              <div class="d-flex bd-highlight">
                                <h5 class="card-title" style="margin-right: 30px">
                                  Available volume
                                </h5>
                                <p class="card-text">1000</p><p>m<sup>3</sup></p>
                              </div>
                              <div class="d-flex bd-highlight border-bottom">
                                <h5 class="card-title" style="margin-right: 36px">
                                  Available weight
                                </h5>
                                <p class="card-text">400</p><p>kg</p>
                              </div>
                              <div class="d-flex bd-highlight">
                                <div class="input-group mb-3 mt-3 me-3">
                                  <span class="input-group-text"
                                    >Required Weight</span
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    aria-label="Amount (to the nearest kilogram)"
                                  />
                                  <span class="input-group-text">kg</span>
                                </div>
                                <div class="input-group mb-3 mt-3">
                                  <span class="input-group-text"
                                    >Required volume</span
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    aria-label="Amount (to the nearest kilogram)"
                                  />
                                  <span class="input-group-text"
                                    >m<sup>3</sup></span
                                  >
                                </div>
                              </div>
                              <div class="d-flex flex-row-reverse bd-highlight">
                                <div class="d-flex flex-column bd-highlight">
                                  <a class="btn btn-primary" href=""
                                    >Request Space</a
                                  >
                                  <p class="card-text">
                                    <small class="text-muted"
                                      >Last updated 3 mins ago</small
                                    >
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>    
                    </div>
                  </div>
                </section>
              </div>
            </div>
            <div ng-show="isSet(2)">
              <div class="col-md-10" style="padding-left: 50px; padding-top: 10px; width: 87.49999965%;">

              <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="width: 40%; padding-left: 5%;">
                    <p class="d-inline-block border rounded-pill py-1 px-4">Sell</p>
                    <h1 class="mb-4">Sell Cargo Space</h1>
                    <p class="mb-4">Make use of decentralised technology to get trustworthy prove and detect scams!</p>
                    <img class="img-fluid mt-0 " src="{% static 'img/storage-container.jpg' %}">
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s" style="width: 60%;">
                    <div class="bg-light rounded h-100 d-flex align-items-center p-5 mt-5">
                      <form>
                              <div class="row g-3">
                                  <div class="col-12">
                                      <div class="form-floating">
                                          <input type="text"  class="form-control" id="" placeholder="">
                                          <label for="Quantity">Description</label>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-floating">
                                          <input type="date" class="form-control"name="birthday">  
                                          <label for="registereddate">Date</label>
                                      </div>
                                  </div>
      
                                  <div class="col-md-6">
                                      <div class="form-floating">
                                        <input type="time" class="form-control"name="birthday">  
      
                                          <label for="registereddate">Time</label>
                                      </div>
                                  </div>
      
                                  <div class="col-12">
                                      <div class="form-floating">
                                        <input type="text"  class="form-control" id="" placeholder="">
                                          <label for="registereddate">Destination</label>
                                      </div>
                                  </div>
                                  
      
                                  <div class="col-md-12">
                                      <div class="form-floating">
                                          <input class="form-control" type="file" id="Businessdocs" multiple />
                                          <label for="Businessdocs" class="form-label">Upload Cargo Photo</label>
                                      </div>
                                  </div>
      
                                  <div class="col-md-6">
                                    <div class="form-floating">
                                      <input type="number"  class="form-control" id="" placeholder="">
                                        <label for="registereddate">Available Volume</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-floating">
                                    <input type="number"  class="form-control" id="" placeholder="">
                                      <label for="registereddate">Available Weight</label>
                                  </div>
                              </div>
                                        
                                  <div class="col-12">
                                      <button class="btn btn-primary w-100 py-3" id="postBtn" type="submit">Submit post</button>
                                  </div>
                                  
                                  
                              </div>
                      </form>
                    </div>
                </div>
              </div>
              </div>
            </div>
              <div ng-show="isSet(3)">
                <div class="wow fadeInUp" data-wow-delay="0.3s">
                  <h1>Status page</h1>
                  <table class="table table-bordered">
                    <thead class="table-primary">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Unqiue Id</th>
                        <th scope="col">Type</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr data-bs-toggle="collapse" href="#row1collapse" role="button" aria-expanded="false" aria-controls="row1collapse">
                        <td scope="row"><i class="mt-1 me-3 fa fa-eye"></i>1</td>
                        <td>993231</td>
                        <td>Buying</td>
                        <td class="table-danger">Rejected</td>
                      </tr>
                      <tr scope="row" class="collapse p-0" id="row1collapse">
                        <td colspan="12">
                          <table class="table table-striped bg-light">
                            <thead class="table-info">
                              <tr class='info'>
                                <th scope="col">Company name</th>
                                <th scope="col">Location</th>
                                <th scope="col">Weight</th>
                                <th scope="col">Volume</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>hi terhi</td>
                                <td>Bewruy</td>
                                <td>ksjfdl</td>
                                <td>ksjfdl</td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td scope="row"><i class="mt-1 me-3 fa fa-eye"></i>2</td>
                        <td>849132</td>
                        <td>Buying</td>
                        <td class="table-success">Succeeded</td>
                      </tr>
                      <tr>
                        <td scope="row"><i class="mt-1 me-3 fa fa-eye"></i>3</td>
                        <td>490481</td>
                        <td>Selling</td>
                        <td >Pending</td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- <div class="messages">
                  <div class="message-box">
                    <img
                      src="https://media-exp1.licdn.com/dms/image/C4D0BAQHiNSL4Or29cg/company-logo_200_200/0/1519856215226?e=2147483647&v=beta&t=kJv1gX0_sqLG1g7LKLD5uh_6uEFpWGUTuzpuvVJVdEw"
                      alt="profile image"
                    />
                    <div class="message-content">
                      <div class="message-header">
                        <div class="name">
                          Google<label style="color: red; margin-left: 10px"
                            >New !</label
                          >
                        </div>
                        <div class="star-checkbox">
                          <input type="checkbox" id="star-1" />
                          <label for="star-1">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="20"
                              height="20"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="feather feather-star"
                            >
                              <polygon
                                points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                              />
                            </svg>
                          </label>
                        </div>
                      </div>
                      <p class="message-line">
                        I got your first assignment. It was quite good. 🥳 We
                        can continue with the next assignment.
                      </p>
                      <div class="row">
                        <div class="companyBtn col-md-2">
                          <a
                            class="btn"
                            style="width: 110px"
                            href="{% url 'jobinfo' %}"
                            ><p style="margin-left: 4px">Read More</p></a
                          >
                        </div>
                        <p class="col-md-2 ms-auto mt-auto message-line time">
                          Dec, 12
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="message-box">
                    <img
                      src="https://media-exp1.licdn.com/dms/image/C4E0BAQFdNatYGiBelg/company-logo_100_100/0/1636138753911?e=1662595200&v=beta&t=x0mcXgELzzp8PcB5RY_QTZRBtw1QutmpPlG37-6WKkk"
                      alt="profile image"
                    />
                    <div class="message-content">
                      <div class="message-header">
                        <div class="name">Meta</div>
                        <div class="star-checkbox">
                          <input type="checkbox" id="star-2" />
                          <label for="star-2">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="20"
                              height="20"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="feather feather-star"
                            >
                              <polygon
                                points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                              />
                            </svg>
                          </label>
                        </div>
                      </div>
                      <p class="message-line">
                        Hey, can tell me about progress of project? I'm waiting
                        for your response.
                      </p>
                      <p class="message-line time">Dec, 12</p>
                    </div>
                  </div>
                  <div class="message-box">
                    <img
                      src="https://media-exp2.licdn.com/dms/image/C560BAQE88xCsONDULQ/company-logo_200_200/0/1618231291419?e=2147483647&v=beta&t=vc_FjmDR3a48QsN0A5l29y7i07b2NmcTJQrCVCl4jC8"
                      alt="profile image"
                    />
                    <div class="message-content">
                      <div class="message-header">
                        <div class="name">Microsoft</div>
                        <div class="star-checkbox">
                          <input type="checkbox" id="star-3" />
                          <label for="star-3">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="20"
                              height="20"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="feather feather-star"
                            >
                              <polygon
                                points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                              />
                            </svg>
                          </label>
                        </div>
                      </div>
                      <p class="message-line">
                        Awesome! 🤩 I like it. We can schedule a meeting for the
                        next one.
                      </p>
                      <p class="message-line time">Dec, 12</p>
                    </div>
                  </div>
                  <div class="message-box">
                    <img
                      src="https://media-exp1.licdn.com/dms/image/C560BAQHdAaarsO-eyA/company-logo_100_100/0/1595530301220?e=1662595200&v=beta&t=7QwpJKXzZthPTXzCrYB9mH7K_QG21d9m05GO5BJqZck"
                      alt="profile image"
                    />
                    <div class="message-content">
                      <div class="message-header">
                        <div class="name">Apple</div>
                        <div class="star-checkbox">
                          <input type="checkbox" id="star-4" />
                          <label for="star-4">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="20"
                              height="20"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="feather feather-star"
                            >
                              <polygon
                                points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                              />
                            </svg>
                          </label>
                        </div>
                      </div>
                      <p class="message-line">
                        I am really impressed! Can't wait to see the final
                        result.
                      </p>
                      <p class="message-line time">Dec, 11</p>
                    </div>
                  </div>
                </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script>
function DateFilter() {
  var input, filter, cards, cardContainer, h5, title, i;
  input = document.getElementById("myDateFilter");
  filter = input.value.toUpperCase();
  cardContainer = document.getElementById("myItems");
  cards = cardContainer.getElementsByClassName("card");
  for (i = 0; i < cards.length; i++) {
      // title = cards[i].querySelector(".card-body h5.card-title");
      title = cards[i].querySelectorAll(".card-body p.card-text");
      console.log(title);
      date = title[0];
      if (date.innerText.toUpperCase().indexOf(filter) > -1) {
          cards[i].style.display = "";
      } else {
          cards[i].style.display = "none";
      }
  }
}
function TimeFilter() {
  var input, filter, cards, cardContainer, h5, title, i;
  input = document.getElementById("myTimeFilter");
  filter = input.value.toUpperCase();
  cardContainer = document.getElementById("myItems");
  cards = cardContainer.getElementsByClassName("card");
  for (i = 0; i < cards.length; i++) {
      // title = cards[i].querySelector(".card-body h5.card-title");
      title = cards[i].querySelectorAll(".card-body p.card-text");
      time = title[1];
      if (time.innerText.toUpperCase().indexOf(filter) > -1) {
          cards[i].style.display = "";
      } else {
          cards[i].style.display = "none";
      }
  }
}



function DestinationFilter() {
  var input, filter, cards, cardContainer, h5, title, i;
  input = document.getElementById("myDestinationFilter");
  filter = input.value.toUpperCase();
  cardContainer = document.getElementById("myItems");
  cards = cardContainer.getElementsByClassName("card");
  for (i = 0; i < cards.length; i++) {
      // title = cards[i].querySelector(".card-body h5.card-title");
      title = cards[i].querySelectorAll(".card-body p.card-text");
      destination = title[2];
      if (destination.innerText.toUpperCase().indexOf(filter) > -1) {
          cards[i].style.display = "";
      } else {
          cards[i].style.display = "none";
      }
  }
}

function VolumeFilter() {
  var minInput,maxInput, filter, cards, cardContainer, title, i;
  minInput = document.getElementById("MinVolFilter").value;
  maxInput = document.getElementById("MaxVolFilter").value;
  cardContainer = document.getElementById("myItems");
  cards = cardContainer.getElementsByClassName("card");
  for (i = 0; i < cards.length; i++) {
      title = cards[i].querySelectorAll(".card-body p.card-text");
      volume = title[3];
      console.log(typeof parseInt(volume.innerText));
      if (parseInt(volume.innerText) > maxInput || parseInt(volume.innerText) < minInput) {
          cards[i].style.display = "none";
      } else {
          cards[i].style.display = "";
      }
  }
}

function WeightFilter() {
  var minInput,maxInput, filter, cards, cardContainer, title, i;
  minInput = document.getElementById("MinWeightFilter").value;
  maxInput = document.getElementById("MaxWeightFilter").value;
  cardContainer = document.getElementById("myItems");
  cards = cardContainer.getElementsByClassName("card");
  for (i = 0; i < cards.length; i++) {
      title = cards[i].querySelectorAll(".card-body p.card-text");
      weight = title[4];
      console.log(typeof parseInt(weight.innerText));
      if (parseInt(weight.innerText) > maxInput || parseInt(weight.innerText) < minInput) {
          cards[i].style.display = "none";
      } else {
          cards[i].style.display = "";
      }
  }
}

</script>
<style>
  .btn-outline-light:hover {
    background-color: transparent !important;
  }
</style>
<script>
  var element = document.getElementById("freightNavItem");
  element.classList.add("btn-outline-light");
</script>
{% endblock %}
