{% extends "base.html" %}
{% load static %}
{% block title %}<title>Job info</title>{% endblock %}
{% block content %}

<div class="container-xxl py-5">
    <div class="container px-lg-5">
        <div class="section-title position-relative text-center pb-2 wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="position-relative d-inline text-primary ps-4">Find More</h6>
            <h2 class="mt-2">Order Page</h2>
        </div>
    </div>
</div>

<div class="container">
    <!-- Title -->
    <div class="d-flex justify-content-between align-items-center py-3">
      <h2 class="h5 mb-0"><a href="#" class="text-muted"></a>UID: 12345678</h2>
    </div>
  
    <!-- Main content -->
    <div class="row">
      <div class="col-lg-8">
        <!-- Details -->
        <div class="card mb-4" style="width:1097.941162px">
          <div class="card-body">
            <div class="mb-3 d-flex justify-content-between">
              <div>
                <span class="me-3">22-11-2021</span>
                <span class="me-3">#12345678</span>
                <span class="me-3">Visa -1234</span>
                <span class="badge rounded-pill bg-info">SHIPPING</span>
              </div>
            </div>
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex mb-2">
                      <div class="flex-shrink-0">
                        <img src="https://via.placeholder.com/280x280/87CEFA/000000" alt="" width="35" class="img-fluid">
                      </div>
                      <div class="flex-lg-grow-1 ms-3">
                        <h6 class="small mb-0"><a href="#" class="text-reset">ABC Shipping to Shanghai</a></h6>
                      </div>
                    </div>
                  </td>
                  <td></td>
                  <td class="text-end">$79.99</td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex mb-2">
                      <div class="flex-shrink-0">
                        <img src="https://via.placeholder.com/280x280/FF69B4/000000" alt="" width="35" class="img-fluid">
                      </div>
                      <div class="flex-lg-grow-1 ms-3">
                        <h6 class="small mb-0"><a href="#" class="text-reset">PSA Service Fee</a></h6>
                      </div>
                    </div>
                  </td>
                  <td></td>
                  <td class="text-end">$10</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="2">Shipping</td>
                  <td class="text-end">$159,98</td>
                </tr>
                <tr>
                  <td colspan="2">GST(7%)</td>
                  <td class="text-end">$20.00</td>
                </tr>
                <tr class="fw-bold">
                  <td colspan="2">TOTAL</td>
                  <td class="text-end">$169,98</td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <!-- Customer Notes -->
        <div class="card mb-4">
          <div class="card-body">
            <h3 class="h6">Customer Notes</h3>
            <p>
              
            </p>
          </div>
        </div>
        <div class="card mb-4">
          <!-- Shipping information -->
          <div class="card-body">
            <h3 class="h6">Address</h3>
            <address>
              358 East Daming Road
              <br>
              Shanghai, Shanghai 200080 China<br>
              <abbr title="Phone">P:</abbr> +8621 55333388

            </address>
          </div>
        </div>
      </div>
    </div>
  </div>
        {% endblock %} 