{% extends "base.html" %} {% load static %} {% block title %}<title>
  User Profile</title
>{% endblock %} {% block content %}
<div class="container">
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">...</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="company">
    <div ng-app="tabApp">
      <div class="row" ng-controller="TabController">
        <div
          class="col-md-1 splitLine mt-3"
          style="height: 600px; width: 12.499999995%"
        >
          <div class="mt-n2 wow fadeInUp" data-wow-delay="0.1s">
            <div class="mb-5 nav nav-pills nav-stacked row">
              <div class="companyBtn" ng-class="{ active: isSet(1) }">
                <a class="btn" ng-click="setTab(1)">
                  <i class="mt-1 me-3 fa fa-address-book"></i> Buy</a
                >
              </div>

              <div class="w-100"></div>

              <div class="companyBtn" ng-class="{ active: isSet(2) }">
                <a class="btn" ng-click="setTab(2)">
                  <i class="mt-1 me-3 fa fa-search"></i> Sell</a
                >
              </div>

              <div class="w-100"></div>
              <div class="companyBtn" ng-class="{ active: isSet(3) }">
                <a class="btn notification notify" ng-click="setTab(3)">
                  <i class="mt-1 me-3 fa fa-bell"></i> Manage</a
                >
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-md-10"
          style="padding-left: 50px; padding-top: 10px; width: 87.49999965%"
        >
          <div class="jumbotron">
            <div ng-show="isSet(1)">
              <div class="wow fadeInUp" data-wow-delay="0.3s">
                <section class="resume-section" id="experience">
                  <div class="resume-section-content">
                    <h1>Buy Cargo Space</h1>
                    <p class="mb-4">Find cargo space that meets your requirements and send a request to the provider to use the space.</p>
                  </div>
                </section>
                <section>
                  <div class="container">
                    <div class="row bg-primary p-2 rounded align-items-center" style = "justify-content: center ">
                      <div class="col-sm-1">
                        <i class="mt-1 me-3 fa fa-search" style="font-size: 2em; color: white;"></i>
                      </div>
                      <div class="col-sm-2">
                        <div class="input-group input-group-sm">
                          <input type="text" id="myDateFilter" class="form-control" onkeyup="DateFilter()" placeholder="Date">
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="input-group input-group-sm">
                          <input type="text" id="myTimeFilter" class="form-control" onkeyup="TimeFilter()" placeholder="Time">
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="input-group input-group-sm">
                          <input type="text" id="myDestinationFilter" class="form-control" onkeyup="DestinationFilter()" placeholder="Destination">
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="input-group input-group-sm">
                          <input min="0" type="number" id="MinVolFilter" class="form-control" onkeyup="VolumeFilter()" placeholder="Min Volume">
                          <input type="number" id="MaxVolFilter" class="form-control" onkeyup="VolumeFilter()" placeholder="Max Volume">
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="input-group input-group-sm">
                          <input min="0" type="number" id="MinWeightFilter" class="form-control" onkeyup="WeightFilter()" placeholder="Min Weight">
                          <input type="number" id="MaxWeightFilter" class="form-control" onkeyup="WeightFilter()" placeholder="Max Weight">
                        </div>
                      </div>
                    </div>
                    <div class="row" id="myItems">
                      <div class="col-sm-12 mb-3">
                        <div class="mx-auto card flex-row" style="width: 800px;">
                          <div class="col-md-4 border-end">
                            <img
                              src="{% static 'img/demi.svg'%}"}"
                              class="img-fluid rounded-start mt-5"
                              style="object-fit: fill; width: 200px;"
                              alt="..."
                              data-bs-toggle="modal"
                              data-bs-target="#exampleModal"
                            />
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <div class="d-flex bd-highlight">
                                <h5 class="card-title" style="margin-right: 141px">
                                  Date
                                </h5>
                                <p class="card-text">02/10/2022</p>
                              </div>
                              <div class="d-flex bd-highlight">
                                <h5
                                  class="card-title"
                                  style="margin-right: 136.5px"
                                >
                                  Time
                                </h5>
                                <p class="card-text" >0900</p>
                              </div>
                              <div class="d-flex bd-highlight">
                                <h5 class="card-title" style="margin-right: 80px">
                                  Destination
                                </h5>
                                <p class="card-text">Port Klang</p>
                              </div>
                              <div class="d-flex bd-highlight">
                                <h5 class="card-title" style="margin-right: 30px">
                                  Available volume
                                </h5>
                                <p class="card-text">500</p><p>m<sup>3</sup></p>
                              </div>
                              <div class="d-flex bd-highlight border-bottom">
                                <h5 class="card-title" style="margin-right: 36px">
                                  Available weight
                                </h5>
                                <p class="card-text">500</p><p>kg</p>
                              </div>
                              <div class="d-flex bd-highlight">
                                <div class="input-group mb-3 mt-3 me-3">
                                  <span class="input-group-text"
                                    >Required Weight</span
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    aria-label="Amount (to the nearest kilogram)" id="weight1Input"
                                  />
                                  <span class="input-group-text">kg</span>
                                </div>
                                <div class="input-group mb-3 mt-3">
                                  <span class="input-group-text"
                                    >Required volume</span
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    aria-label="Amount (to the nearest kilogram)" id="vol1Input"
                                  />
                                  <span class="input-group-text"
                                    >m<sup>3</sup></span
                                  >
                                </div>
                              </div>
                              <div class="d-flex flex-row-reverse bd-highlight">
                                <div class="d-flex flex-column bd-highlight">
                                  <a class="btn btn-primary requestBtn" href=""
                                    >Request Space</a
                                  >
                                  <p class="card-text">
                                    <small class="text-muted"
                                      >Last updated 3 mins ago</small
                                    >
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                  
                        <div class="mx-auto card flex-row" style="width: 800px;">
                          <div class="col-md-4 border-end">
                            <img
                              src="{% static 'img/m2_aga_20-ft_box.svg'%}"}"
                              class="img-fluid rounded-start mt-5"
                              style="object-fit: fill; width: 200px;"
                              alt="..."
                              data-bs-toggle="modal"
                              data-bs-target="#exampleModal"
                            />
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <div class="d-flex bd-highlight">
                                <h5 class="card-title" style="margin-right: 141px">
                                  Date
                                </h5>
                                <p class="card-text">05/10/2022</p>
                              </div>
                              <div class="d-flex bd-highlight">
                                <h5
                                  class="card-title"
                                  style="margin-right: 136.5px"
                                >
                                  Time
                                </h5>
                                <p class="card-text">1200</p>
                              </div>
                              <div class="d-flex bd-highlight">
                                <h5 class="card-title" style="margin-right: 80px">
                                  Destination
                                </h5>
                                <p class="card-text">Los Angeles</p>
                              </div>
                              <div class="d-flex bd-highlight">
                                <h5 class="card-title" style="margin-right: 30px">
                                  Available volume
                                </h5>
                                <p class="card-text">750</p><p>m<sup>3</sup></p>
                              </div>
                              <div class="d-flex bd-highlight border-bottom">
                                <h5 class="card-title" style="margin-right: 36px">
                                  Available weight
                                </h5>
                                <p class="card-text">750</p><p>kg</p>
                              </div>
                              <div class="d-flex bd-highlight">
                                <div class="input-group mb-3 mt-3 me-3">
                                  <span class="input-group-text"
                                    >Required Weight</span
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    aria-label="Amount (to the nearest kilogram)"
                                  />
                                  <span class="input-group-text">kg</span>
                                </div>
                                <div class="input-group mb-3 mt-3">
                                  <span class="input-group-text"
                                    >Required volume</span
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    aria-label="Amount (to the nearest kilogram)"
                                  />
                                  <span class="input-group-text"
                                    >m<sup>3</sup></span
                                  >
                                </div>
                              </div>
                              <div class="d-flex flex-row-reverse bd-highlight">
                                <div class="d-flex flex-column bd-highlight">
                                  <a class="btn btn-primary requestBtn" href=""
                                    >Request Space</a
                                  >
                                  <p class="card-text">
                                    <small class="text-muted"
                                      >Last updated 3 mins ago</small
                                    >
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                  
                        <div class="mx-auto card flex-row" style="width: 800px;">
                          <div class="col-md-4 border-end">
                            <img
                              src="{% static 'img/ld11.svg'%}"}"
                              class="img-fluid rounded-start mt-5"
                              style="object-fit: fill; width: 200px;"
                              alt="..."
                              data-bs-toggle="modal"
                              data-bs-target="#exampleModal"
                            />
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <div class="d-flex bd-highlight">
                                <h5 class="card-title" style="margin-right: 141px">
                                  Date
                                </h5>
                                <p class="card-text">20/09/2020</p>
                              </div>
                              <div class="d-flex bd-highlight">
                                <h5
                                  class="card-title"
                                  style="margin-right: 136.5px"
                                >
                                  Time
                                </h5>
                                <p class="card-text">2300</p>
                              </div>
                              <div class="d-flex bd-highlight">
                                <h5 class="card-title" style="margin-right: 80px">
                                  Destination
                                </h5>
                                <p class="card-text">Shanghai</p>
                              </div>
                              <div class="d-flex bd-highlight">
                                <h5 class="card-title" style="margin-right: 30px">
                                  Available volume
                                </h5>
                                <p class="card-text">1000</p><p>m<sup>3</sup></p>
                              </div>
                              <div class="d-flex bd-highlight border-bottom">
                                <h5 class="card-title" style="margin-right: 36px">
                                  Available weight
                                </h5>
                                <p class="card-text">400</p><p>kg</p>
                              </div>
                              <div class="d-flex bd-highlight">
                                <div class="input-group mb-3 mt-3 me-3">
                                  <span class="input-group-text"
                                    >Required Weight</span
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    aria-label="Amount (to the nearest kilogram)"
                                  />
                                  <span class="input-group-text">kg</span>
                                </div>
                                <div class="input-group mb-3 mt-3">
                                  <span class="input-group-text"
                                    >Required volume</span
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    aria-label="Amount (to the nearest kilogram)"
                                  />
                                  <span class="input-group-text"
                                    >m<sup>3</sup></span
                                  >
                                </div>
                              </div>
                              <div class="d-flex flex-row-reverse bd-highlight">
                                <div class="d-flex flex-column bd-highlight">
                                  <a class="btn btn-primary requestBtn" href=""
                                    >Request Space</a
                                  >
                                  <p class="card-text">
                                    <small class="text-muted"
                                      >Last updated 3 mins ago</small
                                    >
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>    
                    </div>
                  </div>
                </section>
              </div>
            </div>
            <div ng-show="isSet(2)">
              <div class="col-md-10" style="padding-left: 50px; padding-top: 10px; width: 87.49999965%;">

              <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="width: 40%; padding-left: 5%;">
                    <h1 class="mb-4">Sell Cargo Space</h1>
                    <p class="mb-4">Fill this form out to list your available cargo space on the market. Buyers will then be able to request for your cargo space. You will then be able to see all requests under the manage page.</p>
                    <img class="img-fluid mt-0 " src="{% static 'img/storage-container.jpg' %}">
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s" style="width: 60%;">
                    <div class="bg-light rounded h-100 d-flex align-items-center p-5 mt-5">
                      <form>
                              <div class="row g-3">
                                  <div class="col-12">
                                      <div class="form-floating">
                                          <input type="text"  class="form-control" id="" placeholder="">
                                          <label for="Quantity">Description</label>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-floating">
                                          <input type="date" class="form-control"name="birthday">  
                                          <label for="registereddate">Date</label>
                                      </div>
                                  </div>
      
                                  <div class="col-md-6">
                                      <div class="form-floating">
                                        <input type="time" class="form-control"name="birthday">  
      
                                          <label for="registereddate">Time</label>
                                      </div>
                                  </div>
      
                                  <div class="col-12">
                                      <div class="form-floating">
                                        <input type="text"  class="form-control" id="" placeholder="">
                                          <label for="registereddate">Destination</label>
                                      </div>
                                  </div>
                                  
      
                                  <div class="col-md-12">
                                      <div class="form-floating">
                                          <input class="form-control" type="file" id="Businessdocs" multiple />
                                          <label for="Businessdocs" class="form-label">Upload Cargo Photo</label>
                                      </div>
                                  </div>
      
                                  <div class="col-md-6">
                                    <div class="form-floating">
                                      <input type="number"  class="form-control" id="" placeholder="">
                                        <label for="registereddate">Available Volume</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-floating">
                                    <input type="number"  class="form-control" id="" placeholder="">
                                      <label for="registereddate">Available Weight</label>
                                  </div>
                              </div>
                                        
                                  <div class="col-12">
                                      <button class="btn btn-primary w-100 py-3" id="postSalseBtn" type="submit">Submit post</button>
                                  </div>
                                  
                                  
                              </div>
                      </form>
                    </div>
                </div>
              </div>
              </div>
            </div>
              <div ng-show="isSet(3)">
                <div class="wow fadeInUp" data-wow-delay="0.3s">
                  <h1>Cargo Space Management Page</h1>
                  <p class="mb-4">View your cargo space requests. Accept or reject parties requesting for your space.</p>
                  <table class="table table-bordered">
                    <thead class="bg-primary" style="color: white;">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Unique ID</th>
                        <th scope="col">Type</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td scope="row" data-bs-toggle="collapse" href="#row1collapse" role="button" aria-expanded="false" aria-controls="row1collapse"><i class="mt-1 me-3 fa fa-eye"></i>1</td>
                        <td>993231</td>
                        <td>Buying</td>
                        <td class="table-danger">Rejected</td>
                      </tr>
                      <tr scope="row" class="collapse p-0" id="row1collapse">
                        <td colspan="12" style="padding: 0 !important;">
                          <table class="table table-striped bg-light m-0">
                            <thead>
                              <tr class='light'>
                                <th scope="col">Provider</th>
                                <th scope="col">Freight ID</th>
                                <th scope="col">Destination</th>
                                <th scope="col">Requested Weight</th>
                                <th scope="col">Requested Volume</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>KMS Lines Pte Ltd</td>
                                <td>cx3k8d</td>
                                <td>Port of Shanghai</td>
                                <td>2500 kg</td>
                                <td>3 m<sup>3</sup></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td scope="row" data-bs-toggle="collapse" href="#row2collapse" role="button" aria-expanded="false" aria-controls="row2collapse"><i class="mt-1 me-3 fa fa-eye"></i>2</td>
                        <td>849132</td>
                        <td>Buying</td>
                        <td class="table-success">Approved</td>
                      </tr>
                      <tr scope="row" class="collapse p-0" id="row2collapse">
                        <td colspan="12" style="padding: 0 !important;">
                          <table class="table table-striped bg-light m-0">
                            <thead>
                              <tr class='light'>
                                <th scope="col">Provider</th>
                                <th scope="col">Freight ID</th>
                                <th scope="col">Destination</th>
                                <th scope="col">Requested Weight</th>
                                <th scope="col">Requested Volume</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>KMS Lines Pte Ltd</td>
                                <td>cx3k8d</td>
                                <td>Port of Shanghai</td>
                                <td>2500 kg</td>
                                <td>3 m<sup>3</sup></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td scope="row" data-bs-toggle="collapse" href="#row3collapse" role="button" aria-expanded="false" aria-controls="row3collapse"><i class="mt-1 me-3 fa fa-eye"></i>3</td>
                        <td>490481</td>
                        <td>Selling</td>
                        <td id="sellingrow" class="d-flex">
                          <button class="btn btn-outline-primary me-2" type="button" onclick="CreateNotification(1)">
                            <i class="bi bi-check text-success"></i>
                            Approve
                          </button>
                          <button class="btn btn-outline-primary" type="button" onclick="CreateNotification(0)">
                            <i class="bi bi-x text-danger"></i>
                            Reject
                          </button>
                        </td>
                      </tr>
                      <tr scope="row" class="collapse p-0" id="row3collapse">
                        <td colspan="12" style="padding: 0 !important;">
                          <table class="table table-striped bg-light m-0">
                            <thead>
                              <tr class='light'>
                                <th scope="col">Requester</th>
                                <th scope="col">Freight ID</th>
                                <th scope="col">Destination</th>
                                <th scope="col">Requested Weight</th>
                                <th scope="col">Requested Volume</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>KMS Lines Pte Ltd</td>
                                <td>cx3k8d</td>
                                <td>Port of Shanghai</td>
                                <td>2500 kg</td>
                                <td>3 m<sup>3</sup></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>

$(".requestBtn").click(function () {
  console.log("no!!");
  var weight = $("#weight1Input").val();
  var vol = $("#vol1Input").val();
    if (weight <=0 || vol<= 0) {
      $.notify("Please provide valid weight & volume", "error");
    }
      else {
      $.notify("Request Sent Successfully!", "success");
      }
    });


function CreateNotification(approved) {
  if (approved) {
    $.notify('Request Approved!', "success");    
    $('#sellingrow').html("Approved");
    $('#sellingrow').addClass("table-success");
  } else {
    $.notify('Request Rejected!', "error");  
    $('#sellingrow').html("Rejected");
    $('#sellingrow').addClass("table-danger");
  }
}

function DateFilter() {
  var input, filter, cards, cardContainer, h5, title, i;
  input = document.getElementById("myDateFilter");
  filter = input.value.toUpperCase();
  cardContainer = document.getElementById("myItems");
  cards = cardContainer.getElementsByClassName("card");
  for (i = 0; i < cards.length; i++) {
      // title = cards[i].querySelector(".card-body h5.card-title");
      title = cards[i].querySelectorAll(".card-body p.card-text");
      console.log(title);
      date = title[0];
      if (date.innerText.toUpperCase().indexOf(filter) > -1) {
          cards[i].style.display = "";
      } else {
          cards[i].style.display = "none";
      }
  }
}
function TimeFilter() {
  var input, filter, cards, cardContainer, h5, title, i;
  input = document.getElementById("myTimeFilter");
  filter = input.value.toUpperCase();
  cardContainer = document.getElementById("myItems");
  cards = cardContainer.getElementsByClassName("card");
  for (i = 0; i < cards.length; i++) {
      // title = cards[i].querySelector(".card-body h5.card-title");
      title = cards[i].querySelectorAll(".card-body p.card-text");
      time = title[1];
      if (time.innerText.toUpperCase().indexOf(filter) > -1) {
          cards[i].style.display = "";
      } else {
          cards[i].style.display = "none";
      }
  }
}


function DestinationFilter() {
  var input, filter, cards, cardContainer, h5, title, i;
  input = document.getElementById("myDestinationFilter");
  filter = input.value.toUpperCase();
  cardContainer = document.getElementById("myItems");
  cards = cardContainer.getElementsByClassName("card");
  for (i = 0; i < cards.length; i++) {
      // title = cards[i].querySelector(".card-body h5.card-title");
      title = cards[i].querySelectorAll(".card-body p.card-text");
      destination = title[2];
      if (destination.innerText.toUpperCase().indexOf(filter) > -1) {
          cards[i].style.display = "";
      } else {
          cards[i].style.display = "none";
      }
  }
}

function VolumeFilter() {
  var minInput,maxInput, filter, cards, cardContainer, title, i;
  minInput = parseInt(document.getElementById("MinVolFilter").value);
  maxInput = parseInt(document.getElementById("MaxVolFilter").value);
  cardContainer = document.getElementById("myItems");
  cards = cardContainer.getElementsByClassName("card");
  for (i = 0; i < cards.length; i++) {
      title = cards[i].querySelectorAll(".card-body p.card-text");
      volume = title[3];
      if (parseInt(volume.innerText) > maxInput || parseInt(volume.innerText) < minInput) {
          cards[i].style.display = "none";
      } else {
          cards[i].style.display = "";
      }
  }
}

function WeightFilter() {
  var minInput,maxInput, filter, cards, cardContainer, title, i;
  minInput = parseInt(document.getElementById("MinWeightFilter").value);
  maxInput = parseInt(document.getElementById("MaxWeightFilter").value);
  cardContainer = document.getElementById("myItems");
  cards = cardContainer.getElementsByClassName("card");
  for (i = 0; i < cards.length; i++) {
      title = cards[i].querySelectorAll(".card-body p.card-text");
      weight = title[4];
      if (parseInt(weight.innerText) > maxInput || parseInt(weight.innerText) < minInput) {
          cards[i].style.display = "none";
      } else {
          cards[i].style.display = "";
      }
  }
}

</script>
<style>
  .btn-outline-light:hover {
    background-color: transparent !important;
  }
</style>
<script>
  var element = document.getElementById("freightNavItem");
  element.classList.add("btn-outline-light");
</script>
<script>
  for (let element of document.getElementsByClassName("navhide")){
    element.style.visibility="";
  }

  $("#postSalseBtn").click(function () {
        $.notify('Post Submitted Successfully!', "success");
    });
  
</script>
{% endblock %}
