{% extends "base.html" %} {% load static %} {% block title %}<title>
  User Profile</title
>{% endblock %} {% block content %}
<div class="container">
  <div class="company">
    <div ng-app="tabApp">
      <div class="row" ng-controller="TabController">
        <hr />
        <div class="container bootstrap snippets bootdey">
          <div class="row">
            <div class="col-sm-10">
              <h1>Hup Soon Cheong Services Pte Ltd</h1>
            </div>
            <div class="col-sm-2">
              <img
                title="profile image"
                class="img-circle img-fluid"
                src="{% static 'img/hsc-logo.png' %}"
              />
            </div>
          </div>
          <div class="row">
            <!--/col-3-->
            <div class="col-sm-9" style="margin-left: 20px;">
              <div class="table-responsive">
                <table class="table table-user-information table-bordered">
                  <tbody>
                    <tr>
                      <td>
                        <strong>
                          <span
                            class="glyphicon glyphicon-asterisk text-primary"
                          ></span>
                          Role
                        </strong>
                      </td>
                      <td class="text-primary">KD Tenant</td>
                    </tr>


                    <tr>
                      <td>
                        <strong>
                          <span
                            class="glyphicon glyphicon-asterisk text-primary"
                          ></span>
                          Tenant Code
                        </strong>
                      </td>
                      <td class="text-primary">HSCS_09102022</td>
                    </tr>
                    <tr>    
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-user  text-primary"></span>    
                                Contact Person                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                            Mr Lee Soon Heng     
                        </td>
                    </tr>
                    <tr>    
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-user  text-primary"></span>    
                                Company                                                
                            </strong>
                        </td>
                        <td class="text-primary">
                            Hup Soon Cheong Services Pte Ltd   
                        </td>
                    </tr>
                    <tr>
                      <td>
                        <strong>
                          <span
                            class="glyphicon glyphicon-eye-open text-primary"
                          ></span>
                          Contact Number
                        </strong>
                      </td>
                      <td class="text-primary">+65 12345432</td>
                    </tr>
                    <tr>
                      <td>
                        <strong>
                          <span
                            class="glyphicon glyphicon-envelope text-primary"
                          ></span>
                          Email
                        </strong>
                      </td>
                      <td class="text-primary">hscs_0910.2022@kd.psa.com</td>
                    </tr>
                    <tr>
                        <td>
                          <strong>
                            <span
                              class="glyphicon glyphicon-envelope text-primary"
                            ></span>
                            Joined Date
                          </strong>
                        </td>
                        <td class="text-primary">09/10/2022</td>
                      </tr>
                  </tbody>
                </table>
                <!-- <ul class="nav nav-tabs" id="myTab">
                  <li class="active">
                    <a href="#settings" data-toggle="tab">Settings</a>
                  </li>
                </ul> -->

                <!-- <div class="tab-content">
                  <div class="tab-pane active" id="settings">
                    <hr />
                    <form
                      class="form"
                      action="##"
                      method="post"
                      id="registrationForm"
                    >
                      <div class="form-group">
                        <div class="col-xs-6">
                          <label for="first_name"> <h4>First name</h4></label>
                          <input
                            type="text"
                            class="form-control"
                            name="first_name"
                            id="first_name"
                            placeholder="first name"
                            title="enter your first name if any."
                          />
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-xs-6">
                          <label for="last_name"> <h4>Last name</h4></label>
                          <input
                            type="text"
                            class="form-control"
                            name="last_name"
                            id="last_name"
                            placeholder="last name"
                            title="enter your last name if any."
                          />
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-xs-6">
                          <label for="phone"> <h4>Phone</h4></label>
                          <input
                            type="text"
                            class="form-control"
                            name="phone"
                            id="phone"
                            placeholder="enter phone"
                            title="enter your phone number if any."
                          />
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-xs-6">
                          <label for="mobile"> <h4>Mobile</h4></label>
                          <input
                            type="text"
                            class="form-control"
                            name="mobile"
                            id="mobile"
                            placeholder="enter mobile number"
                            title="enter your mobile number if any."
                          />
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-xs-6">
                          <label for="email"> <h4>Email</h4></label>
                          <input
                            type="email"
                            class="form-control"
                            name="email"
                            id="email"
                            placeholder="you@email.com"
                            title="enter your email."
                          />
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-xs-6">
                          <label for="email"> <h4>Location</h4></label>
                          <input
                            type="email"
                            class="form-control"
                            id="location"
                            placeholder="somewhere"
                            title="enter a location"
                          />
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-xs-6">
                          <label for="password"> <h4>Password</h4></label>
                          <input
                            type="password"
                            class="form-control"
                            name="password"
                            id="password"
                            placeholder="password"
                            title="enter your password."
                          />
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-xs-6">
                          <label for="password2"> <h4>Verify</h4></label>
                          <input
                            type="password"
                            class="form-control"
                            name="password2"
                            id="password2"
                            placeholder="password2"
                            title="enter your password2."
                          />
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-xs-12">
                          <br />
                          <button class="btn btn-lg btn-success" type="submit">
                            <i class="glyphicon glyphicon-ok-sign"></i> Save
                          </button>
                          <button class="btn btn-lg" type="reset">
                            <i class="glyphicon glyphicon-repeat"></i> Reset
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div> -->
                <!--/tab-pane-->
              </div>
              <!--/tab-content-->
            </div>
            <!--/col-9-->
          </div>
          <!--/row-->
        </div>
      </div>
    </div>
  </div>

  <script>
    for (let element of document.getElementsByClassName("navhide")){
      element.style.visibility="";
    }
  </script>
</div>
{% endblock %}
