{% extends "base.html" %}
{% load static %}
{% load filter_tags %}
{% block title %}<title>User Profile</title>{% endblock %}
{% block content %}
<div class="container">
    <div class="company">
        <div ng-app="tabApp">
            <div class="row" ng-controller="TabController">
                <div class="col-md-1 splitLine mt-3" style="height: 700px; width: 12.499999995%">
                    <div class="mt-n2 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="mb-5 nav nav-pills nav-stacked row" style="padding-top: 5%;">

                            <div class="companyBtn" ng-class="{ active: isSet(1) }">
                                <a class="btn" href="/forkliftServices"> 
                                    <i class="mt-1 me-3 fa-solid fa-life-ring"></i>Forklifting</a>
                            </div>

                            <div class="w-100"></div>
                            <div class="companyBtn" ng-class="{ active: isSet(2) }">
                                <a class="btn" ng-click="setTab(2)"  style="color: var(--light); 
                                background: var(--primary);" href="/railingRequest"> 
                                    <i class="mt-1 me-3 fa-solid fa-sailboat"></i> Railing</a>
                            </div>

                            <div class="w-100"></div>
                            <div class="companyBtn" ng-class="{ active: isSet(3) }">
                                <a class="btn" ng-click="setTab(3)" href="/stuffingRequest">
                                    <i class="mt-1 me-3 fa-solid fa-box"></i> Stuffing</a>
                            </div>
                            <div class="companyBtn" ng-class="{ active: isSet(3) }">
                                <a class="btn" ng-click="setTab(3)" href="/truckingRequest"> 
                                    <i class="mt-1 me-3 fa-solid fa-truck-moving"></i> Trucking</a>
                            </div>
                            <div class="companyBtn" ng-class="{ active: isSet(3) }">
                                <a class="btn" ng-click="setTab(3)" href="/documentation"> 
                                    <i class="mt-1 me-3 fa-solid fa-file-import"></i> Permits</a>
                            </div>
                            <div class="companyBtn" ng-class="{ active: isSet(3) }">
                                <a class="btn" ng-click="setTab(3)"> 
                                    <i class="mt-1 me-3 fa-solid fa-comment-dots"></i> Feedback</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10" style="padding-left: 50px; padding-top: 10px; width: 87.49999965%;">
                <div class="row g-5">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="width: 40%; padding-left: 5%;">
                        <p class="d-inline-block border rounded-pill py-1 px-4">Railing</p>
                        <h1 class="mb-4">Railing Services</h1>
                        <p class="mb-4">Make use of decentralised technology to get trustworthy prove and detect scams!</p>
                        <img class="img-fluid mt-0 " src="{% static 'img/logistics-service.jpg' %}">
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s" style="width: 60%;">
                        <div class="bg-light rounded h-100 d-flex align-items-center p-5 mt-5">
                            <form>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="number"  class="form-control" id="" placeholder="">
                                            <label for="Quantity">Quantity of Container</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="number"  class="form-control" id="" placeholder="">
                                            <label for="companyname">Cargo Weight (kg)</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-floating">
                                            <input type="number"  class="form-control" id="" placeholder="">
                                            <label for="companyname">Dimensions (Width)</label>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-floating">
                                            <input type="number"  class="form-control" id="" placeholder="">
                                            <label for="companyname">Dimensions (Height)</label>
                                        </div>
                                    </div>  

                                    <div class="col-md-4">
                                        <div class="form-floating">
                                            <input type="number"  class="form-control" id="" placeholder="">
                                            <label for="companyname">Dimensions (Length)</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="date" class="form-control"name="birthday">  
                                            <label for="registereddate">Start Date</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="date" class="form-control"name="birthday">  
                                            <label for="registereddate">End Date</label>
                                        </div>
                                    </div>


                                    <div class="col-md-12">
                                        <div class="form-floating">
											<input class="form-control" type="file" id="Businessdocs" multiple />
											<label for="Businessdocs" class="form-label">Upload Cargo Photo</label>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-floating">
                                            <select class="form-select" aria-label="Default select example" placeholder="Transfer From"> 
                                                <option value="1" selected></option>
                                                <option value="1">Warehouse 1</option>
                                                <option value="2">Warehouse 2</option>
                                                <option value="3">Warehouse 3</option>
                                            </select>

                                            <label for="registereddate">Transfer From</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <select class="form-select" aria-label="Default select example" placeholder="Transfer From">
                                                <option value="1" selected></option>
                                                <option value="1">Warehouse 1</option>
                                                <option value="2">Warehouse 2</option>
                                                <option value="3">Warehouse 3</option>
                                            </select>

                                            <label for="registereddate">Transfer To</label>
                                        </div>
                                    </div>
                                          
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100 py-3" id="postBtn" type="submit">Get a Quote</button>
                                    </div>
                                    
                                    
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                </div>

            </div>
        </div>
    </div>
</div>
<style type="text/css">
   
   .companyBtn .btn::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    top: 0;
    left: 0;
    border-radius: 35px;
    background: transparent;
    transition: .5s;
    z-index: -1;
}
</style>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
    console.log("testing");
    
    $(document).ready(function(){
		var date_input=$('input[name="date"]'); //our date input has the name "date"
		var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
		date_input.datepicker({
			format: 'mm/dd/yyyy',
			container: container,
			todayHighlight: true,
			autoclose: true,
		});
	})
</script>

<style>
    .btn-outline-light:hover {
      background-color: transparent !important;
    }
  </style>
  <script>
    var element = document.getElementById("serviceNavItem");
    element.classList.add("btn-outline-light");
  </script>
{% endblock %}