{% extends "base.html" %}
{% load static %}
{% load filter_tags %}
{% block title %}<title>User Profile</title>{% endblock %}
{% block content %}
<div class="container">
    <div class="company">
        <div ng-app="tabApp">
            <div class="row" ng-controller="TabController">
                <div class="col-md-1 splitLine mt-3" style="height: 700px; width: 12.499999995%">
                    <div class="mt-n2 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="mb-5 nav nav-pills nav-stacked row" style="padding-top: 5%;">

                            <div class="companyBtn" ng-class="{ active: isSet(1) }">
                                <a class="btn" href="/forkliftServices"> 
                                    <i class="mt-1 me-3 fa-solid fa-life-ring"></i>Forklifting</a>
                            </div>

                            <div class="w-100"></div>
                            <div class="companyBtn" ng-class="{ active: isSet(2) }">
                                <a class="btn" ng-click="setTab(2)"  style="color: var(--light); 
                                background: var(--primary);" href="/railingRequest"> 
                                    <i class="mt-1 me-3 fa-solid fa-sailboat"></i> Railing</a>
                            </div>

                            <div class="w-100"></div>
                            <div class="companyBtn" ng-class="{ active: isSet(3) }">
                                <a class="btn" ng-click="setTab(3)" href="/stuffingRequest">
                                    <i class="mt-1 me-3 fa-solid fa-box"></i> Stuffing</a>
                            </div>
                            <div class="companyBtn" ng-class="{ active: isSet(3) }">
                                <a class="btn" ng-click="setTab(3)" href="/truckingRequest"> 
                                    <i class="mt-1 me-3 fa-solid fa-truck-moving"></i> Trucking</a>
                            </div>
                            <div class="companyBtn" ng-class="{ active: isSet(3) }">
                                <a class="btn" ng-click="setTab(3)" href="/documentation"> 
                                    <i class="mt-1 me-3 fa-solid fa-file-import"></i> Permits</a>
                            </div>
                            <div class="companyBtn" ng-class="{ active: isSet(3) }">
                                <a class="btn" ng-click="setTab(3)" href="https://www.singaporepsa.com/" > 
                                    <i class="mt-1 me-3 fa-solid fa-comment-dots"></i> Feedback</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10" style="padding-left: 50px; padding-top: 10px; width: 87.49999965%;">
                <div class="row g-5">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="width: 40%; padding-left: 5%;">
                        <p class="d-inline-block border rounded-pill py-1 px-4">Railing</p>
                        <h1 class="mb-4">Railing Services</h1>
                        <p class="mb-4">Make use of decentralised technology to get trustworthy prove and detect scams!</p>
                        <img class="img-fluid mt-0 " src="{% static 'img/logistics-service.jpg' %}">
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s" style="width: 60%;">
                        <div class="bg-light rounded h-100 d-flex align-items-center p-5 mt-5">
                            <form>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="number"  class="form-control" id="qtyInput" placeholder="" required>
                                            <label for="Quantity">Quantity of Container</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="number"  class="form-control" id="weightInput" placeholder="" required>
                                            <label for="companyname">Cargo Weight (t)</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-floating">
                                            <input type="number"  class="form-control" id="dwInput" placeholder="" required>
                                            <label for="companyname">Dimensions (Width)</label>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-floating">
                                            <input type="number"  class="form-control" id="dhInput" placeholder="" required>
                                            <label for="companyname">Dimensions (Height)</label>
                                        </div>
                                    </div>  

                                    <div class="col-md-4">
                                        <div class="form-floating">
                                            <input type="number"  class="form-control" id="dlInput" placeholder="" required>
                                            <label for="companyname">Dimensions (Length)</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="date" class="form-control"name="birthday" id="startDateInput" required>  
                                            <label for="registereddate">Start Date</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="date" class="form-control"name="birthday" id="endDateInput" required>
                                            <label for="registereddate">End Date</label>
                                        </div>
                                    </div>


                                    <div class="col-md-12">
                                        <div class="form-floating">
											<input class="form-control" type="file" id="Businessdocs" multiple id="photoInput" required/>
											<label for="Businessdocs" class="form-label">Upload Cargo Photo</label>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-floating">
                                            <select class="form-select" aria-label="Default select example" placeholder="Transfer From" id="startWhInput" required> 
                                                <option value="1" selected></option>
                                                <option value="1">Warehouse 1</option>
                                                <option value="2">Warehouse 2</option>
                                                <option value="3">Warehouse 3</option>
                                            </select>

                                            <label for="registereddate">Transfer From</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <select class="form-select" aria-label="Default select example" placeholder="Transfer To" id="endWhInput" required>
                                                <option value="1" selected></option>
                                                <option value="1">Warehouse 1</option>
                                                <option value="2">Warehouse 2</option>
                                                <option value="3">Warehouse 3</option>
                                            </select>

                                            <label for="registereddate">Transfer To</label>
                                        </div>
                                    </div>
                                          
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100 py-3" id="quoteBtn" type="submit">Get a Quote</button>
                                    </div>
                                    
                                    
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                </div>

            </div>
        </div>
    </div>
</div>
<style type="text/css">
   .companyBtn .btn::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    top: 0;
    left: 0;
    border-radius: 35px;
    background: transparent;
    transition: .5s;
    z-index: -1;
}
</style>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<script>
    $(document).ready(function(){
        function formValidation() {
        /*
        if(($("#qtyInput").val()) == null || !($("#weightInput").val())  || !($("#dwInput").val()) || !($("#dhInput").val())  || !($("#dlInput").val()) || !($("#endDateInput").val()) 
        || !($("#startDateInput").val()) || !($("#startWhInput").val()) || !($("#endWhInput").val()) || !($("#photoInput").val())){
            return "Please fill up all the fields!";
        }*/
      if($("#qtyInput").val() <= 0 ){
        return "Invalid Container Quantity";
      }
      if ($("#weightInput").val() <= 0) {
        return "Invalid Cargo Weight";
      }
      if ($("#dwInput").val() <= 0) {
        return "Invalid Container Width";
      }
      if ($("#dhInput").val() <= 0) {
        return "Invalid Container Height";
      }
      if ($("#dlInput").val() <= 0) {
        return "Invalid Container Length";
      }
      if($("#endDateInput").val() < $("#startDateInput").val()){
        return "End Date must be later than start Date."
      }
      if($("#startWhInput").val() == $("#endWhInput").val()){
        return "Start warehouse must not be the same as Destination warehouse."
      }
      if (valid) {
        return "Quote Sent Successfully";
      }
      return valid;
    }
    
    $("#quoteBtn").click(function () {
      var valMsg = formValidation();
      if (valMsg.indexOf("Successfully") != -1) {
        $.notify('Job Posted Successfully!', "success");
      }
        else {
        $.notify(valMsg, "error");
        }
      });

	})
</script>

<style>
    .btn-outline-light:hover {
      background-color: transparent !important;
    }
  </style>
  <script>
    var element = document.getElementById("serviceNavItem");
    element.classList.add("btn-outline-light");
  </script>
{% endblock %}