{% extends "base.html" %}
{% load static %}
{% load filter_tags %}
{% block title %}<title>User Profile</title>{% endblock %}
{% block content %}
<div class="container">
    <div class="company">
        <div ng-app="tabApp">
            <div class="row" ng-controller="TabController">
                <div class="col-md-1 splitLine mt-3" style="height: 600px; width: 12.499999995%">
                    <div class="mt-n2 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="mb-5 nav nav-pills nav-stacked row">
                            <div class="companyBtn" ng-class="{ active: isSet(1) }">
                                <a class="btn" ng-click="setTab(1)"> <i class="mt-1 me-3 fa fa-address-book"></i>
                                    Resources</a>
                            </div>

                            <div class="w-100"></div>

                            <div class="companyBtn" ng-class="{ active: isSet(2) }">
                                <a class="btn" ng-click="setTab(2)"> <i class="mt-1 me-3 fa fa-search"></i> Services</a>
                            </div>

                            <div class="w-100"></div>
                            <div class="companyBtn" ng-class="{ active: isSet(3) }">
                                <a class="btn notification notify" ng-click="setTab(3)"> <i
                                        class="mt-1 me-3 fa fa-bell"></i> Co-loading</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-10" style="padding-left: 0px; padding-top: 10px; width: 87.49999965%;">
                    <div class="row g-5">
                        <!-- <div style="height: 200px;"></div> -->
                        <div class="timeline-body" style="margin-top: 0;">
                            <div class="container experience">
                                <div class="row">
                                    <div class="col-md-18">
                                        <!-- <h4>TIMELINE</h4> -->

                                        <section class="cd-horizontal-timeline container">
                                            <div class="timeline" style="margin:0 180px">
                                                <div class="events-wrapper">
                                                    <div class="events">
                                                        <ol>
                                                            <li><a href="#0" data-date="01/05/2015" class="selected"><i
                                                                        class="fa fa-upload" aria-hidden="true"></i>
                                                            <li><a href="#0" data-date="01/04/2014"><i
                                                                        class="fa fa-spinner"
                                                                        aria-hidden="true"></i></a></li>
                                                            <li><a href="#0" data-date="01/02/2013"><i
                                                                        class="fa fa-address-card"
                                                                        aria-hidden="true"></i></a></li>
                                                        </ol>

                                                        <span class="filling-line" aria-hidden="true"></span>
                                                    </div> <!-- .events -->
                                                </div> <!-- .events-wrapper -->
                                            </div> <!-- .timeline -->

                                            <div class="events-content" style="margin-top: 0;">
                                                <ol>
                                                    <li class="selected" data-date="01/05/2015">

                                                        <section class="section" id="pricing" style="margin:0px">
                                                            <div class="container">

                                                                <div class="row">
                                                                    <div class="col-lg-12">
                                                                        <div class="title-box text-center">
                                                                            <h3 class="title-heading mt-4">Best Pricing ackage </h3>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                                <div class="row mt-0 pt-0">
                                                                    <div class="col-lg-4">
                                                                        <div class="pricing-box mt-4">
                                                                            <i class="mdi mdi-account h1"></i>
                                                                            <h4 class="f-20">Small</h4>

                                                                            <div class="mt-4 pt-2">

                                                                                <p class="mb-2"><i
                                                                                        class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i>For <b>1-3</b>
                                                                                    Target Audience</p>
                                                                                <p class="mb-2"><i
                                                                                        class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i><b>1</b>
                                                                                    User Account</p>
                                                                                <p class="mb-2"><i
                                                                                        class="mdi mdi-close-circle text-danger f-18 mr-2"></i><b>100+</b>
                                                                                    Video Tuts</p>
                                                                                <p class="mb-2"><i
                                                                                        class="mdi mdi-close-circle text-danger f-18 mr-2"></i><b>Public</b>
                                                                                    Displays
                                                                                </p>
                                                                            </div>

                                                                            <p class="mt-4 pt-2 text-muted">Semper urna
                                                                                veal tempus pharetra elit habisse platea
                                                                                dictumst.
                                                                            </p>
                                                                            <div class="pricing-plan mt-4 pt-2">
                                                                                <h4 class="text-muted"><s> $9.99</s>
                                                                                    <span
                                                                                        class="plan pl-3 text-dark">$8.99
                                                                                    </span>
                                                                                </h4>
                                                                                <p class="text-muted mb-0">Per Month</p>
                                                                            </div>


                                                                            <div class="mt-4 pt-3">
                                                                                <a href=""
                                                                                    class="btn btn-primary btn-rounded">Purchase
                                                                                    Now</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                    <div class="col-lg-4">
                                                                        <div class="pricing-box mt-4">
                                                                            <div class="pricing-badge">
                                                                                <span class="badge">Popular</span>
                                                                            </div>

                                                                            <i
                                                                                class="mdi mdi-account-multiple h1 text-primary"></i>
                                                                            <h4 class="f-20 text-primary">Medium</h4>


                                                                            <div class="mt-4 pt-2">

                                                                                <p class="mb-2"><i
                                                                                        class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i><b>Unlimited</b>
                                                                                    Target Audience</p>
                                                                                <p class="mb-2"><i
                                                                                        class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i><b>1</b>
                                                                                    User Account</p>
                                                                                <p class="mb-2"><i
                                                                                        class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i><b>100+</b>
                                                                                    Video Tuts</p>
                                                                                <p class="mb-2"><i
                                                                                        class="mdi mdi-close-circle text-danger f-18 mr-2"></i><b>Public</b>
                                                                                    Displays
                                                                                </p>
                                                                            </div>

                                                                            <p class="mt-4 pt-2 text-muted">Semper urna
                                                                                veal tempus pharetra elit habisse platea
                                                                                dictumst.
                                                                            </p>

                                                                            <div class="pricing-plan mt-4 pt-2">
                                                                                <h4 class="text-muted"><s> $19.99</s>
                                                                                    <span
                                                                                        class="plan pl-3 text-dark">$18.99
                                                                                    </span>
                                                                                </h4>
                                                                                <p class="text-muted mb-0">Per Month</p>
                                                                            </div>

                                                                            <div class="mt-4 pt-3">
                                                                                <a href=""
                                                                                    class="btn btn-primary btn-rounded">Purchase
                                                                                    Now</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-lg-4">
                                                                        <div class="pricing-box mt-4">
                                                                            <i class="mdi mdi-account-multiple-plus h1"></i>
                                                                            <h4 class="f-20">Large</h4>


                                                                            <div class="mt-4 pt-2">

                                                                                <p class="mb-2"><i
                                                                                        class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i><b>Unlimited</b>
                                                                                    Target Audience</p>
                                                                                <p class="mb-2"><i
                                                                                        class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i><b>1</b>
                                                                                    User Account</p>
                                                                                <p class="mb-2"><i
                                                                                        class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i><b>100+</b>
                                                                                    Video Tuts</p>
                                                                                <p class="mb-2"><i
                                                                                        class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i><b>Public</b>
                                                                                    Displays
                                                                                </p>
                                                                            </div>

                                                                            <p class="mt-4 pt-2 text-muted">Semper urna
                                                                                veal tempus pharetra elit habisse platea
                                                                                dictumst.
                                                                            </p>

                                                                            <div class="pricing-plan mt-4 pt-2">
                                                                                <h4 class="text-muted"><s> $29.99</s>
                                                                                    <span
                                                                                        class="plan pl-3 text-dark">$28.99
                                                                                    </span>
                                                                                </h4>
                                                                                <p class="text-muted mb-0">Per Month</p>
                                                                            </div>

                                                                            <div class="mt-4 pt-3">
                                                                                <a href=""
                                                                                    class="btn btn-primary btn-rounded">Purchase
                                                                                    Now</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>


                                                    </li>

                                                    <li data-date="01/04/2014">

                                                        <div class="row g-5">
                                                            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s" style="width: 100%; margin-top: 0;">
                                                                <div class="bg-light rounded h-100 d-flex align-items-center p-5 mt-0">
                                                                    <form>
                                                                        <div class="row g-3">
                                                                            <div class="col-md-6">
                                                                                <div class="form-floating">
                                                                                    <input type="text" class="form-control" id="companyname" placeholder="Company Name">
                                                                                    <label for="companyname">GOOGLE SINGAPORE PTE. LTD.</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <div class="form-floating">
                                                                                    <input type="text" class="form-control" id="UEN" placeholder="Unique Entity Number">
                                                                                    <label for="UEN">UEN: 200605367W </label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-6">
                                                                                <div class="form-floating">
                                                                                    <input type="text" class="form-control" id="registereddate" placeholder="dd/mm/yyyy">
                                                                                    <label for="registereddate">Date of Incorporation: 13/04/2006</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-6">
                                                                                <div class="form-floating">
                                                                                    <input type="text" class="form-control" id="expiredate" placeholder="dd/mm/yyyy">
                                                                                    <label for="expiredate">Date of Expiry: 23/12/2022</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-12">
                                                                                <div class="form-floating">
                                                                                    <input type="phone" id="industry" class="form-control" placeholder="xxxxxxxx">
                                                                                    <label for="phone">Industry: WIRED TELECOMMUNICATIONS NETWORK OPERATION</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-12">
                                                                                <div class="form-floating">
                                                                                    <input type="phone" id="phone" class="form-control" placeholder="xxxxxxxx">
                                                                                    <label for="phone">Company Phone: 6521 8000</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-12">
                                                                                <div class="form-floating">
                                                                                    <input type="email" id="email" class="form-control" placeholder="name@example.com">
                                                                                    <label for="email">Company Email: support-in@google.com</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-12">
                                                                                <div class="form-floating">
                                                                                    <input type="text" id="address" class="form-control" placeholder="address">
                                                                                    <label for="address">Company Address : 70 Pasir Panjang Rd, #03-71 Mapletree Business City II, Singapore 117371</label>
                                                                                </div>
                                                                            </div>

                                                                            <div class="col-12">
                                                                                <button class="btn btn-primary w-100 py-3" id="postBtn" type="submit">Post it</button>
                                                                            </div>
                                                                        </div>

                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                            
                                                    </li>

                                                    <li data-date="01/02/2013">
                                                        <h5>Request Processing</h5>
                                                        <em>PSA Team is working hard to process your request!</em>
                                                        <p> <strong>xxx</strong> We are happy to
                                                            inform you that your account is opened you and may start
                                                            looking for authenthic jobs on our platform!</p>
                                                    </li>
                                                </ol>
                                            </div>
                                        </section>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .pricing-box {
        -webkit-box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.1);
        padding: 35px 50px;
        border-radius: 20px;
        position: relative;
    }

    .pricing-box .plan {
        font-size: 34px;
    }

    .pricing-badge {
        position: absolute;
        top: 0;
        z-index: 999;
        right: 0;
        width: 100%;
        display: block;
        font-size: 15px;
        padding: 0;
        overflow: hidden;
        height: 100px;
    }

    .pricing-badge .badge {
        float: right;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        right: -67px;
        top: 17px;
        position: relative;
        text-align: center;
        width: 200px;
        font-size: 13px;
        margin: 0;
        padding: 7px 10px;
        font-weight: 500;
        color: #ffffff;
        background: #fb7179;
    }

    .mb-2,
    .my-2 {
        margin-bottom: .5rem !important;
    }

    p {
        line-height: 1.7;
    }

    .cd-horizontal-timeline .events-content li>* {
        margin: 0 auto;
        max-width: 1000px !important;
    }
</style>
{% endblock %}