{% extends "base.html" %}
{% load static %}
{% load filter_tags %}
{% block title %}<title>User Profile</title>{% endblock %}
{% block content %}
<div class="container">
    <div class="company">
        <div ng-app="tabApp">
            <div class="row" ng-controller="TabController">
                <div class="col-md-1 splitLine mt-3" style="height: 700px; width: 12.499999995%">
                    <div class="mt-n2 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="mb-5 nav nav-pills nav-stacked row" style="padding-top: 5%;">
                            <div class="companyBtn" ng-class="{ active: isSet(1) }">
                                <a class="btn" href="/forkliftServices"> 
                                    <i class="mt-1 me-3 fa-solid fa-life-ring"></i>Forklifting</a>
                            </div>

                            <div class="w-100"></div>
                            <div class="companyBtn" ng-class="{ active: isSet(2) }">
                                <a class="btn" ng-click="setTab(2)" href="/railingRequest"> 
                                    <i class="mt-1 me-3 fa-solid fa-sailboat"></i> Railing</a>
                            </div>

                            <div class="w-100"></div>
                            <div class="companyBtn" ng-class="{ active: isSet(3) }">
                                <a class="btn" ng-click="setTab(3)" href="/stuffingRequest">
                                    <i class="mt-1 me-3 fa-solid fa-box"></i> Stuffing</a>
                            </div>
                            <div class="companyBtn" ng-class="{ active: isSet(3) }">
                                <a class="btn" ng-click="setTab(3)" href="/truckingRequest"> 
                                    <i class="mt-1 me-3 fa-solid fa-truck-moving"></i> Trucking</a>
                            </div>
                            <div class="companyBtn" ng-class="{ active: isSet(3) }">
                                <a class="btn" ng-click="setTab(3)" href="/documentation"> 
                                    <i class="mt-1 me-3 fa-solid fa-file-import"></i> Permits</a>
                            </div>
                            <div class="companyBtn" ng-class="{ active: isSet(3) }">
                                <a class="btn" ng-click="setTab(3)" href="https://www.singaporepsa.com/" > 
                                    <i class="mt-1 me-3 fa-solid fa-comment-dots"></i> Feedback</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-10" style="padding-left: 0px; padding-top: 10px; width: 87.49999965%;">
                    <div class="container" data-aos="fade-up">

                        <div class="section-header">
                            <span>Our Services</span>
                            <h2>Our Services</h2>

                        </div>


                        <section id="service" class="services pt-0">

                            <div class="row gy-3">
                                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                                    <div class="cards">
                                        <div class="card-img">
                                            <img class="img-fluid" style="margin-left: 0rem;"
                                                src="{% static 'img/storage-service.jpg' %}" alt="">
                                        </div>
                                        <h3><a href="{% url 'forkliftServices' %}" class="stretched-link">Forklifting</a></h3>
                                        <p>Cumque eos in qui numquam. Aut aspernatur perferendis sed atque quia voluptas
                                            quisquam repellendus temporibus itaqueofficiis odit</p>
                                    </div>
                                </div><!-- End Card Item -->

                                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                                    <div class="cards">
                                        <div class="card-img">
                                            <img class="img-fluid" style="margin-left: 0rem;"
                                                src="{% static 'img/logistics-service.jpg' %}" alt="">
                                        </div>
                                        <h3><a href="{% url 'railingRequest' %}" class="stretched-link">Railing</a></h3>
                                        <p>Asperiores provident dolor accusamus pariatur dolore nam id audantium ut et
                                            iure incidunt molestiae dolor ipsam ducimus occaecati nisi</p>
                                    </div>
                                </div><!-- End Card Item -->

                                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                                    <div class="cards">
                                        <div class="card-img">
                                            <img class="img-fluid" style="margin-left: 0rem;"
                                                src="{% static 'img/cargo-service.jpg' %}" alt="">
                                        </div>
                                        <h3><a href="{% url 'stuffingRequest' %}" class="stretched-link">Stuffing /
                                                Unstuffing</a></h3>
                                        <p>Dicta quam similique quia architecto eos nisi aut ratione aut ipsum
                                            reiciendis sit doloremque oluptatem aut et molestiae ut et nihil</p>
                                    </div>
                                </div><!-- End Card Item -->

                                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                                    <div class="cards">
                                        <div class="card-img">
                                            <img class="img-fluid" style="margin-left: 0rem;"
                                                src="{% static 'img/trucking-service.jpg' %}" alt="">
                                        </div>
                                        <h3><a href="{% url 'truckingRequest' %}" class="stretched-link">Trucking</a></h3>
                                        <p>Dicta quam similique quia architecto eos nisi aut ratione aut ipsum
                                            reiciendis sit doloremque oluptatem aut et molestiae ut et nihil</p>
                                    </div>
                                </div><!-- End Card Item -->

                                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                                    <div class="cards">
                                        <div class="card-img">
                                            <img class="img-fluid" style="margin-left: 0rem;"
                                                src="{% static 'img/packaging-service.jpg' %}" alt="">
                                        </div>
                                        <h3><a href="/documentation" class="stretched-link">Permit
                                                Documentation</a></h3>
                                        <p>Illo consequuntur quisquam delectus praesentium modi dignissimos facere vel
                                            cum onsequuntur maiores beatae consequatur magni voluptates</p>
                                    </div>
                                </div><!-- End Card Item -->

                                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                                    <div class="cards">
                                        <div class="card-img">
                                            <img class="img-fluid" style="margin-left: 0rem;"
                                                src="{% static 'img/warehousing-service.jpg' %}" alt="">
                                        </div>
                                        <h3><a href="https://www.singaporepsa.com/" class="stretched-link">Other Services</a></h3>
                                        <p>Quas assumenda non occaecati molestiae. In aut earum sed natus eatae in vero.
                                            Ab modi quisquam aut nostrum unde et qui est non quo nulla</p>
                                    </div>
                                </div><!-- End Card Item -->
                            </div>
                        </section>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .pricing-box {
        -webkit-box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.1);
        padding: 35px 50px;
        border-radius: 20px;
        position: relative;
    }

    .pricing-box .plan {
        font-size: 34px;
    }

    .pricing-badge {
        position: absolute;
        top: 0;
        z-index: 999;
        right: 0;
        width: 100%;
        display: block;
        font-size: 15px;
        padding: 0;
        overflow: hidden;
        height: 100px;
    }

    .pricing-badge .badge {
        float: right;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        right: -67px;
        top: 17px;
        position: relative;
        text-align: center;
        width: 200px;
        font-size: 13px;
        margin: 0;
        padding: 7px 10px;
        font-weight: 500;
        color: #ffffff;
        background: #fb7179;
    }

    .mb-2, .my-2 {
        margin-bottom: .5rem !important;
    }

    .cd-horizontal-timeline .events-content li>* {
        margin: 0 auto;
        max-width: 1000px !important;
    }

    .services .cards {
        border: 1px solid rgba(14, 29, 52, 0.15);
        background: #fff;
        position: relative;
        border-radius: 0;
        height: 100%;
    }

    .services .cards .card-img {
        overflow: hidden;
        margin-bottom: 15px;
        border-radius: 0;
    }

    .services .cards .card-img img {
        transition: 0.3s ease-in-out;
    }

    .services .cards h3 {
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 5px;
        padding: 10px 30px;
        text-transform: uppercase;
    }

    .services .cards a {
        color: #001973;
        transition: 0.3;
    }

    .services .cards a:hover {
        color: var(--color-primary);
    }

    .services .cards p {
        padding: 0 30px;
        margin-bottom: 30px;
        color: var(--color-secondary);
        font-size: 15px;
    }

    .services .cards:hover .card-img img {
        transform: scale(1.1);
    }
    .btn-outline-light:hover{
        background-color: transparent !important;
    }
</style>
<script>
    var element = document.getElementById("serviceNavItem");
    element.classList.add("btn-outline-light");
</script>
<script>
    for (let element of document.getElementsByClassName("navhide")){
      element.style.visibility="";
    }
  </script>
<link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock %}