{% extends "base.html" %}
{% load static %}
{% block title %}<title>Register</title>{% endblock %}
{% block content %}
<div class="container-xxl py-5">
    <div class="container px-lg-5">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
                    <h2 class="mt-2">Choose your account mode</h2>
                </div>
                <div class="wow fadeInUp" data-wow-delay="0.3s">
                    <div class="card_body">
                        <div id="card" class="card">
                            <h1 class="card__title">KD Tenant</h1>
                            <div class="card__body">
                                <div class="row justify-content-center">
                                    <div class="col-lg-10">
                                        <i class="Icon fa-solid fa-tents" aria-hidden="true"></i>
                                    </div>
                                    
                                </div>
                            </div>
                            <ol class="card__list">
                                <li class="card__list__item">Access to Resouces Sharing Platform</li>
                                <li class="card__list__item">Provided with PSA-premium Services </li>
                                <li class="card__list__item">Bond with KD community members </li>
                            </ol>
                            <a href="{% url 'signupuser' %}" class="card__button">KD-Tenant Sign up</a>
                        </div>
                        
                        <div id="advanced" class="card">
                            <h1 class="card__title">Third-Party</h1>
                            <div class="card__body">
                                <div class="row justify-content-center">
                                    <div class="col-lg-10">
                                        <i class="Icon fa-solid fa-handshake" aria-hidden="true"></i>
                                    </div>
                                    
                                </div>
                            </div>
                            <ol class="card__list">
                                <li class="card__list__item">Access to Freight Marketplace</li>
                                <li class="card__list__item">One-stop Co-loading Service Platform</li>
                                <li class="card__list__item">Smart Planner and 3D Container Modals</li>
                            </ol>
                            <a href="{% url 'signupcompany' %}" class="card__button">Third-Party Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
{% endblock %}