{% extends "base.html" %}
{% load static %}
{% load filter_tags %}
{% block title %}<title>User Profile</title>{% endblock %}
{% block content %}
<div class="container">
    <div class="company">
        <div ng-app="tabApp">
            <div class="row" ng-controller="TabController">
                <div class="col-md-1 splitLine mt-3" style="height: 700px; width: 12.499999995%">
                    <div class="mt-n2 wow fadeInUp" data-wow-delay="0.1s">
                      <div class="mb-5 nav nav-pills nav-stacked row" style="padding-top: 5%;">

                        <div class="companyBtn" ng-class="{ active: isSet(1) }">
                            <a class="btn" href="/forkliftServices"> 
                                <i class="mt-1 me-3 fa-solid fa-life-ring"></i>Forklifting</a>
                        </div>

                        <div class="w-100"></div>
                        <div class="companyBtn" ng-class="{ active: isSet(2) }">
                            <a class="btn" ng-click="setTab(2)" href="/railingRequest"> 
                                <i class="mt-1 me-3 fa-solid fa-sailboat"></i> Railing</a>
                        </div>

                        <div class="w-100"></div>
                        <div class="companyBtn" ng-class="{ active: isSet(3) }">
                            <a class="btn" ng-click="setTab(3)" style="color: var(--light); 
                            background: var(--primary);" href="/stuffingRequest">
                                <i class="mt-1 me-3 fa-solid fa-box"></i> Stuffing</a>
                        </div>
                        <div class="companyBtn" ng-class="{ active: isSet(3) }">
                            <a class="btn" ng-click="setTab(3)" href="/truckingRequest"> 
                                <i class="mt-1 me-3 fa-solid fa-truck-moving"></i> Trucking</a>
                        </div>
                        <div class="companyBtn" ng-class="{ active: isSet(3) }">
                            <a class="btn" ng-click="setTab(3)" href="/documentation"> 
                                <i class="mt-1 me-3 fa-solid fa-file-import"></i> Permits</a>
                        </div>
                        <div class="companyBtn" ng-class="{ active: isSet(3) }">
                            <a class="btn" ng-click="setTab(3)" href="https://www.singaporepsa.com/" > 
                                <i class="mt-1 me-3 fa-solid fa-comment-dots"></i> Feedback</a>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-10" style="padding-left: 50px; padding-top: 10px; width: 87.49999965%;">
                <div class="row g-5">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="width: 40%; padding-left: 5%;">
                        <p class="d-inline-block border rounded-pill py-1 px-4">Stuffing</p>
                        <p class="mb-4">Make use of decentralised technology to get trustworthy prove and detect scams!</p>
                        <img class="img-fluid mt-0 " src="{% static 'img/cargo-service.jpg' %}">
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s" style="width: 60%;">
                        <section id="faq" class="faq">
                            <div class="container" data-aos="fade-up">
                      
                              <div class="section-header">
                                
                                <h1 class="mb-1">Stuffing & Unstuffing</h1>
                                <p>Frequently Asked Questions</p>
                      
                              </div>
                      
                              <div class="row justify-content-left" data-aos="fade-up" data-aos-delay="200">
                                <div class="col-lg-12">
                      
                                  <div class="accordion accordion-flush" id="faqlist">
                      
                                    <div class="accordion-item">
                                      <h3 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                                          <i class="bi bi-question-circle question-icon"></i>
                                          How does PSA Stuffing / Unstuffing stand out?
                                        </button>
                                      </h3>
                                      <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                        <div class="accordion-body">
                                            We have your containers stuffed and stripped, with an eye to optimize, cushion and secure your goods in 20-foot or 40-foot containers. Each forwarded container benefits from a follow-up with guarantees.
                                        </div>
                                      </div>
                                    </div><!-- # Faq item-->
                      
                                    <div class="accordion-item">
                                      <h3 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                                          <i class="bi bi-question-circle question-icon"></i>
                                          What are the stuffing / unstuffing steps?

                                        </button>
                                      </h3>
                                      <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                        <div class="accordion-body">
                                            At our container freight stations, 
                                            freight shipments can be consolidated or de-consolidated and staged between transport legs, and cross-dock activities. Many of our terminals offer high-speed conversion of bulk-to-container for better value transportation, for example machinery or large trees that can be lowered into an open top container.

                                        </div>
                                      </div>
                                    </div><!-- # Faq item-->
                      
                                    <div class="accordion-item">
                                      <h3 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                                          <i class="bi bi-question-circle question-icon"></i>
                                          Does PSA provide argumented services?
                                        </button>
                                      </h3>
                                      <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                        <div class="accordion-body">
                                            We also provide services include:
                                            Consolidation and deconsolidation of export and import cargo,
                                            Weighing,
                                            Special packing/re-packing service, and
                                            Labeling.
                                        </div>
                                      </div>
                                    </div><!-- # Faq item-->
                      
                                    <div class="accordion-item">
                                      <h3 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                                          <i class="bi bi-question-circle question-icon"></i>
                                          What kind of cargos does PSA team handle with?
                                        </button>
                                      </h3>
                                      <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                        <div class="accordion-body">
                                          <i class="bi bi-question-circle question-icon"></i>
                                          We offer stuffing and stripping of containerised & non-conventional cargo. This allows our clients to keep focused on their core business, and adds value, for example through reduced port storage, fewer trips, no empty redelivery and no demurrage, reduced stock buffers, and lower insurance costs.</div>
                                      </div>
                                    </div><!-- # Faq item-->
                      
                                    <div class="accordion-item">
                                      <h3 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                                          <i class="bi bi-question-circle question-icon"></i>
                                          Are there security measures in place to ensure the valuable items?
                                        </button>
                                      </h3>
                                      <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                        <div class="accordion-body">
                                            For valuable items we offer high-levels of security in the stuffing-stripping area, such as live CCTV streams. At many of our facilities cargo can be stuffed or stripped in a customs bonded area to reduce paperwork, and increase security.  
                                        </div>
                                      </div>
                                    </div><!-- # Faq item-->
                      
                                  </div>
                      
                                </div>
                              </div>
                      
                            </div>
                          </section><!-- End Frequently Asked Questions Section -->
                      
                    </div>



                </div>
                <div class="col-lg-6 wow row justify-content-center fadeInUp" data-wow-delay="0.5s" style="width: 80%; margin: 10px auto;">

                    <div class="section-header" style="margin: top 10%;">
                        <span>Get a Quote</span>
                        <h2>Get a Quote</h2>

                    </div>
                    <div class="bg-light rounded h-100 d-flex align-items-center p-5 mt-0">
                        <form>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="number"  class="form-control" id="qtyInput" placeholder="">
                                        <label for="Quantity">Quantity of Container</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="number"  class="form-control" id="weightInput" placeholder="">
                                        <label for="companyname">Cargo Weight (kg)</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input type="number"  class="form-control" id="dwInput" placeholder="">
                                        <label for="companyname">Dimensions (Width)</label>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input type="number"  class="form-control" id="dhInput" placeholder="">
                                        <label for="companyname">Dimensions (Height)</label>
                                    </div>
                                </div>  

                                <div class="col-md-4">
                                    <div class="form-floating">
                                        <input type="number"  class="form-control" id="dlInput" placeholder="">
                                        <label for="companyname">Dimensions (Length)</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="date" class="form-control"name="birthday" id="serviceDateInput">  
                                        <label for="registereddate">Estimated Service Date</label>
                                    </div>
                                </div>

                               

                                <div class="col-6">
                                    <div class="form-floating">
                                        <select class="form-select" aria-label="Default select example" placeholder="Preferred Timeslot" id="timeslotInput" > 
                                            <option value="0" selected></option>
                                            <option value="1">09:00AM - 12:00PM</option>
                                            <option value="2">13:00PM - 15:00PM</option>
                                            <option value="3">15:00PM - 18:00PM</option>
                                            <option value="3">After 18:00PM</option>
                                        </select>

                                        <label for="registereddate">Preferred Timeslot</label>
                                    </div>
                                </div>
                                

                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input class="form-control" type="file" id="Businessdocs" multiple id="photoInput" />
                                        <label for="Businessdocs" class="form-label">Upload Cargo Photo</label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-floating">
                                        <select class="form-select" aria-label="Default select example" placeholder="Transfer From" id="startWhInput"> 
                                            <option value="1" selected></option>
                                            <option value="1">Warehouse 1</option>
                                            <option value="2">Warehouse 2</option>
                                            <option value="3">Warehouse 3</option>
                                        </select>

                                        <label for="registereddate">Transfer From</label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-floating">
                                        <select class="form-select" aria-label="Default select example" placeholder="Transfer To" id="endWhInput">
                                            <option value="1" selected></option>
                                            <option value="1">Warehouse 1</option>
                                            <option value="2">Warehouse 2</option>
                                            <option value="3">Warehouse 3</option>
                                        </select>

                                        <label for="registereddate">Transfer To</label>
                                    </div>
                                </div>
                                      
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" id="quoteBtn" type="submit">Get a Quote</button>
                                </div>
                                
                                
                            </div>

                        </form>
                    </div>
                </div>
                </div>

            </div>
        </div>
    </div>
</div>
<style type="text/css">
.companyBtn .btn::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    top: 0;
    left: 0;
    border-radius: 35px;
    background: transparent;
    transition: .5s;
    z-index: -1;
}

.faq {
  padding-top: 0px;
}

.faq .accordion-item {
  border: 0;
  margin-bottom: 10px;
}

.faq .accordion-collapse {
  border: 0;
}

.faq .accordion-button {
  padding: 18px 30px 20px 60px;
  font-weight: 400;
  border: 0;
  font-size: 16px;
  color: var(--color-default);
  text-align: left;
  background: rgba(14, 29, 52, 0.03);
  border-radius: 5px;
}

.faq .accordion-button:focus {
  box-shadow: none;
}

.faq .accordion-button:not(.collapsed) {
  color: var(--color-primary);
  border-bottom: 0;
  box-shadow: none;
}

.faq .question-icon {
  position: absolute;
  top: 14px;
  left: 25px;
  font-size: 20px;
  color: var(--color-primary);
}

.faq .accordion-button:after {
  position: absolute;
  right: 15px;
  top: 15px;
}

.faq .accordion-body {
  padding: 0 30px 25px 60px;
  border: 0;
  background: rgba(14, 29, 52, 0.03);
  border-radius: 5px;
}

.section-header {
  text-align: center;
  padding: 20px 0;
  position: relative;
}

.section-header h2 {
    margin-top: 30px;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #001973;
  position: relative;
  z-index: 2;   
  position: relative;
}

.section-header h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--color-primary);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.section-header span {
  position: absolute;
  top: 46px;
  color: rgba(14, 29, 52, 0.06);
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 56px;
  text-transform: uppercase;
  line-height: 0;
}

.section-header p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

</style>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<style>
  .btn-outline-light:hover {
    background-color: transparent !important;
  }
</style>
<script>
  var element = document.getElementById("serviceNavItem");
  element.classList.add("btn-outline-light");
</script>
<script>
  $(document).ready(function(){
      function formValidation() {
      /*
      if(($("#qtyInput").val()) == null || !($("#weightInput").val())  || !($("#dwInput").val()) || !($("#dhInput").val())  || !($("#dlInput").val()) || !($("#endDateInput").val()) 
      || !($("#startDateInput").val()) || !($("#startWhInput").val()) || !($("#endWhInput").val()) || !($("#photoInput").val())){
          return "Please fill up all the fields!";
      }*/
      console.log($("#serviceDateInput").val());
    if($("#qtyInput").val() <= 0 ){
      return "Invalid Container Quantity";
    }
    if ($("#weightInput").val() <= 0) {
      return "Invalid Cargo Weight";
    }
    if ($("#dwInput").val() <= 0) {
      return "Invalid Container Width";
    }
    if ($("#dhInput").val() <= 0) {
      return "Invalid Container Height";
    }
    if ($("#dlInput").val() <= 0) {
      return "Invalid Container Length";
    }
    if($("#serviceDateInput").val() ==  ""){
      return "Please enter your preferred service date."
    }
    if($("#timeslotInput").val() ==  "0"){
      return "Please enter your preferred service timeslot."
    }
    if($("#startWhInput").val() == $("#endWhInput").val()){
      return "Start warehouse must not be the same as Destination warehouse."
    }
    if (valid) {
      return "Quote Sent Successfully";
    }
    return valid;
  }
  
  $("#quoteBtn").click(function () {
    var valMsg = formValidation();
    if (valMsg.indexOf("Successfully") != -1) {
      $.notify('Job Posted Successfully!', "success");
    }
      else {
      $.notify(valMsg, "error");
      }
    });

})
</script>
<script>
  for (let element of document.getElementsByClassName("navhide")){
    element.style.visibility="";
  }
</script>

{% endblock %}